@charset "UTF-8";
@import url("../assets/font/BeVietNam/stylesheet.css");
@import url("../assets/font/Oswald/stylesheet.css");
@import url("../js/library/aos/aos.css");
@import url("../js/library/swiper/swiper-min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu {
  display: block; }

ol,
ul {
  list-style: none !important; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    -webkit-appearance: none;
    -webkit-appearance: scrollbar;
    -webkit-overflow-scrolling: touch; }
  * ::-webkit-scrollbar-track {
    height: 4px !important;
    background: #fff; }
  * ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px; }

html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-family: "Be VietNam Pro"; }

select {
  outline: none;
  border: 0;
  background: none; }

a {
  color: #262626;
  text-decoration: none; }
  a:-webkit-any-link:focus-visible {
    outline: 0; }

img {
  width: 100%;
  display: block;
  max-width: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out; }

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
  max-width: 120rem;
  /* Tùy thuộc vào khách hàng yêu cầu */ }

.onscroll {
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none; }

@keyframes fadeInUp {
  0% {
    transform: translateY(50%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1; } }

@keyframes hover-pulse {
  0% {
    box-shadow: 0 0 0 0 #fff; }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); } }

@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%); }
  100% {
    margin-left: 0;
    transform: translateX(-100%); } }

.dot {
  padding-left: 1.5rem;
  position: relative; }
  .dot a {
    color: #262626; }
  @media screen and (min-width: 1201px) {
    .dot:hover::before {
      background-color: #df0024; }
    .dot:hover a {
      color: #df0024; } }
  .dot::before {
    content: "";
    top: 0.9rem;
    left: 0;
    bottom: 0;
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 auto;
    border-radius: 5rem;
    background: #a3a3a3;
    position: absolute;
    transition: 0.4s ease-in-out; }

.btn-contact a {
  gap: 0.8rem;
  overflow: hidden;
  background: #fff;
  line-height: 2rem;
  width: fit-content;
  border-radius: 2rem;
  padding: 0.891rem 1.845rem;
  border: 0.1rem solid #2191eb;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 106, 191, 0.3);
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center; }
  @media screen and (min-width: 1201px) {
    .btn-contact a:hover i {
      transform: translateX(3rem) scale(1.1); }
    .btn-contact a:hover span {
      transform: translateX(10rem); } }
  .btn-contact a span {
    font-size: 1.6rem;
    transition: 0.4s ease-in-out;
    cursor: default; }
  .btn-contact a i {
    transition: 0.4s ease-in-out; }
    .btn-contact a i::before {
      font-size: 2rem; }

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  position: fixed;
  pointer-events: none; }
  .overlay::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.6);
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition-delay: 0.2s; }
  .overlay.active {
    pointer-events: visible;
    transform: translateX(0%); }
    .overlay.active::before {
      transform: translateX(0); }
  .overlay.open {
    z-index: 10;
    pointer-events: visible;
    transform: translateX(0%); }
    .overlay.open::before {
      transform: translateX(0); }

.icon {
  display: block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 3rem;
  position: relative; }
  .icon::before {
    top: 0;
    left: 0;
    color: #8a8a8a;
    display: block;
    font-size: 1.8rem;
    position: absolute;
    font-family: "iconfont"; }
  .icon.location::before {
    content: "\e901"; }
  .icon.phone-1::before {
    content: "\e903"; }
  .icon.phone-2::before {
    content: "\e904"; }
  .icon.email::before {
    content: "\e902";
    font-size: 1.4rem; }

.footer {
  overflow: hidden;
  position: relative;
  background: #ededed; }
  .footer::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: url("../assets/img/banner/banner-mask.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .footer-top {
    padding: 6rem 0;
    position: relative; }
  .footer-bottom {
    z-index: 2;
    position: relative;
    background: #ecedee;
    border-top: 0.1rem solid #e5e5e5; }
  .footer-logo {
    padding-bottom: 6rem; }
    .footer-logo a {
      width: 27rem;
      height: 6rem;
      display: block; }
  .footer-flex {
    margin: 0 -1rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .footer-column {
    padding: 0 1rem;
    flex-direction: column;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .footer-address {
    width: 40%;
    justify-content: space-between; }
    .footer-address .list-item:not(:nth-child(2)) a {
      padding-left: 3rem; }
  .footer-page {
    width: 20%; }
  .footer-brand {
    width: 40%;
    justify-content: space-between; }
    .footer-brand .list-item .box {
      row-gap: 2rem;
      flex-direction: column; }
      .footer-brand .list-item .box-item {
        gap: 2rem;
        justify-content: flex-end;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex; }
        .footer-brand .list-item .box-item img {
          object-fit: contain; }
          .footer-brand .list-item .box-item img:not(:last-child) {
            width: 5.6rem;
            height: 5.6rem; }
          .footer-brand .list-item .box-item img:last-child {
            width: 11.4rem;
            height: 5.6rem; }
  .footer-bottom {
    padding: 1.2rem 0; }
    .footer-bottom-social {
      align-items: center;
      justify-content: space-between; }
  .footer-license {
    line-height: 1.6rem;
    font-size: 1.3rem;
    cursor: default; }
  .footer .social {
    gap: 2rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center; }
    .footer .social-item a {
      width: 3rem;
      height: 3rem; }
      @media screen and (min-width: 1201px) {
        .footer .social-item a:hover img {
          transform: translateY(-0.5rem); } }
  .footer .list-item {
    position: relative; }
    .footer .list-item:not(:last-child) {
      padding-bottom: 2rem; }
    .footer .list-item a {
      display: block;
      font-size: 1.6rem;
      line-height: 2.4rem; }
      @media screen and (min-width: 1201px) {
        .footer .list-item a:hover {
          color: #df0024; } }
    .footer .list-item .box {
      gap: 2rem;
      flex-wrap: wrap;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 100;
  overflow: hidden;
  position: sticky;
  background: #fff;
  transition: 0.6s ease-in-out;
  border-bottom: 0.1rem solid #ececec;
  flex-direction: column;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .header.in {
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2); }
  .header-menu {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    @media screen and (max-width: 1279px) {
      .header-menu {
        padding-left: 5rem; } }
    @media screen and (max-width: 1200px) {
      .header-menu {
        padding-left: 0;
        padding-right: 6rem; } }
    @media screen and (max-width: 767px) {
      .header-menu {
        padding-right: 5rem; } }
  .header-bar {
    top: 2.5rem;
    left: 7rem;
    position: fixed; }
    @media screen and (min-width: 1201px) {
      .header-bar:hover .line {
        width: 3.2rem; } }
    .header-bar.open .line {
      width: 3.2rem; }
    .header-bar.open .line-1 {
      transform: translateY(0.9rem) rotate(45deg); }
    .header-bar.open .line-2 {
      opacity: 0; }
    .header-bar.open .line-3 {
      transform: translateY(-0.9rem) rotate(-45deg); }
    .header-bar .line {
      width: 3.2rem;
      height: 0.3rem;
      display: block;
      border-radius: 0.5rem;
      margin-top: 0.6rem;
      background: #424d54;
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .header-bar .line-1 {
        width: 1.8rem; }
        @media screen and (max-width: 1200px) {
          .header-bar .line-1 {
            width: 3.2rem; } }
      .header-bar .line-2 {
        width: 3.2rem; }
      .header-bar .line-3 {
        width: 2.7rem; }
        @media screen and (max-width: 1200px) {
          .header-bar .line-3 {
            width: 3.2rem; } }
  .header-mobile.open .header-nav {
    transform: translateX(0);
    transition-delay: 0.4s; }
  .header-nav {
    top: 8rem;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: calc(100% - 8rem);
    position: fixed;
    overflow: hidden auto;
    flex-direction: column;
    transform: translateX(-110%);
    justify-content: flex-start;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    background: url("../assets/img/banner/banner-mask.webp");
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    @media screen and (max-width: 1200px) {
      .header-nav {
        width: 38rem; } }
    @media screen and (max-width: 767px) {
      .header-nav {
        width: 28rem; } }
    .header-nav li {
      position: relative; }
      @media screen and (min-width: 1201px) {
        .header-nav li:hover a {
          color: #df0024; } }
      .header-nav li a {
        color: #868c90;
        font-weight: 400;
        line-height: 4.7rem; }
        @media screen and (max-width: 1200px) {
          .header-nav li a {
            line-height: 4rem; } }
        @media screen and (max-width: 767px) {
          .header-nav li a {
            line-height: 3rem; } }
    .header-nav .menu {
      padding: 4rem 0; }
      @media screen and (max-width: 1200px) {
        .header-nav .menu {
          padding: 2rem 0;
          padding-top: 1rem; } }
      .header-nav .menu > li {
        min-width: 42rem;
        width: fit-content;
        padding: 2rem 7rem;
        transition: 0.4s ease-in-out; }
        @media screen and (min-width: 1201px) {
          .header-nav .menu > li:hover {
            background: #ffffff9e; }
            .header-nav .menu > li:hover .ic-earth {
              opacity: 1;
              left: -3.5rem; }
            .header-nav .menu > li:hover > a {
              transform: translateX(5rem); } }
        @media screen and (max-width: 1200px) {
          .header-nav .menu > li {
            width: 100%;
            padding: 1rem 1.5rem;
            min-width: auto; } }
        .header-nav .menu > li > a {
          font-size: 3.2rem;
          font-family: "Oswald";
          position: relative;
          transition: transform 0.4s ease-in-out;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -ms-align-items: center;
          align-items: center;
          -webkit-align-items: center; }
          @media screen and (max-width: 1200px) {
            .header-nav .menu > li > a {
              font-size: 2.4rem; } }
          @media screen and (max-width: 767px) {
            .header-nav .menu > li > a {
              font-size: 2rem; } }
          .header-nav .menu > li > a > .ic-earth {
            position: absolute;
            top: 0.8rem;
            left: -3.5rem;
            color: #fff;
            opacity: 0;
            transition: all 0.6s ease-in-out; }
            .header-nav .menu > li > a > .ic-earth::before {
              font-size: 2.6rem; }
          .header-nav .menu > li > a p {
            margin-right: 0.4rem; }
            @media screen and (max-width: 1200px) {
              .header-nav .menu > li > a p {
                font-size: 2.4rem; } }
            @media screen and (max-width: 767px) {
              .header-nav .menu > li > a p {
                font-size: 2rem; } }
          .header-nav .menu > li > a span {
            font-size: 3.2rem; }
            @media screen and (max-width: 1200px) {
              .header-nav .menu > li > a span {
                font-size: 2.4rem; } }
            @media screen and (max-width: 767px) {
              .header-nav .menu > li > a span {
                font-size: 2rem; } }
      @media screen and (min-width: 1201px) {
        .header-nav .menu-dropdown::before {
          content: "";
          top: 0;
          right: -10rem;
          width: 100%;
          height: 100%;
          position: absolute;
          background: transparent;
          cursor: pointer;
          transition: 0.4s ease-in-out; }
        .header-nav .menu-dropdown:hover::before {
          background: #ffffff9e;
          transition-delay: 0.4s; }
        .header-nav .menu-dropdown:hover .ic-next {
          opacity: 1;
          visibility: visible;
          transition-delay: 0.4s;
          transform: translateX(3rem); }
        .header-nav .menu-dropdown:hover .menu-box {
          opacity: 1;
          overflow: hidden;
          visibility: visible;
          transition-delay: 0.8s;
          transform: translateX(0); }
          .header-nav .menu-dropdown:hover .menu-box .dropdown {
            height: auto; }
            .header-nav .menu-dropdown:hover .menu-box .dropdown li {
              height: auto; } }
      .header-nav .menu-dropdown .ic-next {
        top: 3.8rem;
        right: 3.2rem;
        width: 2.4rem;
        height: 1.5rem;
        object-fit: contain;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        filter: invert(53%) sepia(8%) saturate(4%) hue-rotate(19deg) brightness(84%) contrast(85%); }
        @media screen and (max-width: 1200px) {
          .header-nav .menu-dropdown .ic-next::before {
            content: "\e905";
            font-size: 1.4rem; } }
        @media screen and (max-width: 1200px) {
          .header-nav .menu-dropdown .ic-next {
            top: 1.8rem;
            right: 1rem;
            width: auto;
            height: auto;
            opacity: 1;
            padding: 1rem;
            visibility: visible;
            transform: rotate(90deg); }
            .header-nav .menu-dropdown .ic-next.open {
              transform: rotate(270deg); }
              .header-nav .menu-dropdown .ic-next.open + .menu-box {
                opacity: 1;
                visibility: visible;
                max-height: 100rem;
                transition: max-height 0.6s ease-out, opacity 0.6s; } }
        @media screen and (max-width: 767px) {
          .header-nav .menu-dropdown .ic-next {
            top: 0.9rem; } }
    .header-nav .menu-box {
      top: 0;
      left: 42rem;
      z-index: 1;
      opacity: 0;
      width: 100%;
      padding: 1rem;
      min-width: 115rem;
      visibility: hidden;
      position: absolute;
      background: #ffffff9e;
      border-radius: 1rem;
      transform: translateX(-3rem);
      transition: max-height 0.6s ease-out, opacity 0.6s; }
      @media screen and (max-width: 1200px) {
        .header-nav .menu-box {
          padding: 0;
          max-height: 0;
          min-width: auto;
          transform: none;
          position: static;
          overflow: hidden;
          transition: max-height 0.6s ease-out, opacity 0.6s; } }
      .header-nav .menu-box .dropdown li {
        padding: 1rem; }
        @media screen and (min-width: 1201px) {
          .header-nav .menu-box .dropdown li:hover > a {
            color: #df0024; } }
        .header-nav .menu-box .dropdown li a {
          color: #757575;
          font-size: 1.8rem;
          transition: 0.4s ease-in-out; }
          @media screen and (max-width: 1200px) {
            .header-nav .menu-box .dropdown li a {
              font-size: 1.6rem; } }
          @media screen and (max-width: 767px) {
            .header-nav .menu-box .dropdown li a {
              font-size: 1.3rem; } }
      .header-nav .menu-box .dropdown-item {
        width: fit-content; }
        @media screen and (min-width: 1201px) {
          .header-nav .menu-box .dropdown-item:hover .ic-right {
            transform: rotate(90deg); }
          .header-nav .menu-box .dropdown-item:hover .dropdown-item-right {
            max-height: 20rem;
            opacity: 1;
            visibility: visible; } }
        @media screen and (max-width: 1200px) {
          .header-nav .menu-box .dropdown-item {
            width: auto; } }
        .header-nav .menu-box .dropdown-item .ic-right {
          top: 2.7rem;
          margin-left: 1.8rem;
          position: absolute;
          transition: 0.4s ease-in-out; }
          @media screen and (max-width: 1200px) {
            .header-nav .menu-box .dropdown-item .ic-right {
              top: 1.8rem;
              right: 1rem;
              padding: 1rem;
              margin-left: 0;
              transform: rotate(90deg); }
              .header-nav .menu-box .dropdown-item .ic-right.open {
                transform: rotate(270deg); }
                .header-nav .menu-box .dropdown-item .ic-right.open + .dropdown-item-right {
                  opacity: 1;
                  visibility: visible;
                  max-height: 25rem; } }
          @media screen and (max-width: 767px) {
            .header-nav .menu-box .dropdown-item .ic-right {
              top: 0.9rem; } }
          .header-nav .menu-box .dropdown-item .ic-right::before {
            font-size: 1.2rem; }
            @media screen and (max-width: 1200px) {
              .header-nav .menu-box .dropdown-item .ic-right::before {
                font-size: 1.4rem; } }
        .header-nav .menu-box .dropdown-item-right {
          opacity: 0;
          max-height: 0;
          flex-wrap: wrap;
          visibility: hidden;
          transition: max-height 0.6s ease-in-out, opacity 0.6s;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -ms-align-items: center;
          align-items: center;
          -webkit-align-items: center; }
          @media screen and (max-width: 1200px) {
            .header-nav .menu-box .dropdown-item-right {
              align-items: stretch;
              flex-direction: column;
              flex-wrap: nowrap; } }
          .header-nav .menu-box .dropdown-item-right li {
            padding: 1rem 5rem;
            padding-bottom: 0; }
            @media screen and (min-width: 1201px) {
              .header-nav .menu-box .dropdown-item-right li:hover::before {
                filter: invert(9%) sepia(83%) saturate(7497%) hue-rotate(346deg) brightness(92%) contrast(104%); } }
            @media screen and (max-width: 1200px) {
              .header-nav .menu-box .dropdown-item-right li {
                padding: 1rem 4rem;
                padding-right: 1rem; } }
            .header-nav .menu-box .dropdown-item-right li::before {
              content: "";
              top: 2.5rem;
              left: 2.2rem;
              width: 1.7rem;
              height: 1.7rem;
              position: absolute;
              transition: 0.4s ease-in-out;
              background: url("../assets/img/icon/bullet-point.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover; }
              @media screen and (max-width: 1200px) {
                .header-nav .menu-box .dropdown-item-right li::before {
                  top: 2.6rem;
                  left: 1.2rem; } }
              @media screen and (max-width: 767px) {
                .header-nav .menu-box .dropdown-item-right li::before {
                  top: 1.8rem; } }
  .header-list {
    margin: 0 -1.25rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center; }
    .header-list > div {
      padding: 0 1.25rem; }
  .header-logo a {
    display: block;
    width: 9.1rem;
    height: 5.6rem; }
    .header-logo a img {
      object-fit: contain; }
  @media screen and (max-width: 1200px) {
    .header-name {
      display: none; } }
  .header-name a h1 {
    color: #0f0e9f;
    font-size: 2.4rem;
    text-transform: uppercase; }
  .header-contact {
    margin: 0 -3rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center; }
    @media screen and (max-width: 767px) {
      .header-contact {
        margin: 0 -1rem; } }
    .header-contact > div {
      padding: 0 3rem;
      position: relative; }
      @media screen and (max-width: 767px) {
        .header-contact > div {
          padding: 0 1rem; } }
  .header .btn-contact::before {
    content: "";
    top: 1rem;
    right: 0;
    width: 0.1rem;
    height: 1.8rem;
    position: absolute;
    background: #bdbdbd; }
  @media screen and (max-width: 767px) {
    .header .btn-contact a {
      padding: 0.891rem 0;
      border-color: transparent;
      border-radius: 0;
      box-shadow: none; }
      .header .btn-contact a span {
        display: none; } }
  .header-language::before {
    content: "";
    top: 0.4rem;
    right: 0;
    width: 0.1rem;
    height: 1.8rem;
    position: absolute;
    background: #bdbdbd; }
  .header-language a {
    color: #888;
    font-size: 1.8rem; }
  .header-search {
    cursor: pointer; }
    @media screen and (min-width: 1201px) {
      .header-search .search {
        padding: 0.8rem;
        margin: -0.8rem;
        border-radius: 99.9rem;
        width: calc(100% + 1.6rem);
        transition: 0.2s ease-in-out; }
        .header-search .search:hover {
          background: rgba(0, 0, 0, 0.05); } }
    .header-search .ic {
      display: block; }
      .header-search .ic::before {
        font-size: 2rem; }
        @media screen and (max-width: 1200px) {
          .header-search .ic::before {
            font-size: 2rem; } }

.marquee {
  height: 11rem; }
  .marquee-block {
    display: block;
    cursor: default;
    position: relative;
    background: #0b325d; }
  .marquee-list {
    display: block; }
  .marquee-item {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite; }
    @media screen and (min-width: 1201px) {
      .marquee-item:hover {
        animation-play-state: paused; } }
    .marquee-item span {
      display: block;
      padding: 0.45rem;
      font-weight: 600;
      color: #fff; }
  .marquee .header-bar {
    top: 5.5rem; }

.select {
  width: fit-content;
  margin: 0 0 0 auto;
  margin-top: auto;
  position: relative; }
  .select-list {
    width: 26.5rem;
    background: #fff;
    position: relative;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
    border: 0.08rem solid #b9b9b9;
    cursor: pointer; }
    @media screen and (min-width: 1201px) {
      .select-list:hover {
        border-color: #df0024; }
        .select-list:hover::before {
          color: #df0024; }
        .select-list:hover > span {
          color: #df0024; } }
    .select-list::before {
      content: "\e905";
      top: 1rem;
      right: 1.5rem;
      color: #7b7b7b;
      font-size: 1.2rem;
      position: absolute;
      font-family: "iconfont";
      transform: rotate(90deg);
      transition: 0.4s ease-in-out; }
    .select-list .list-item {
      z-index: 1;
      max-height: 15rem; }
    .select-list.open .list-item {
      opacity: 1;
      visibility: visible;
      transition: 0.4s ease-in-out; }
  .select-title {
    width: 100%;
    font-size: 1.4rem;
    position: relative;
    padding-right: 4.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    @media screen and (max-width: 350px) {
      .select-title {
        min-width: auto; } }
  .select ul {
    z-index: 5;
    width: 100%;
    top: 5.5rem;
    right: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow-y: auto;
    position: absolute;
    transition: 0.4s ease-in-out; }
    .select ul li {
      padding: 1rem;
      font-size: 1.6rem;
      border-radius: 0.5rem; }
      .select ul li:hover {
        box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2); }

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0); }
  .custom-select.opened .custom-options span {
    display: block; }

.custom-select.opened::before {
  transform: rotate(270deg); }

.custom-select span {
  display: block;
  position: relative;
  transition: 0.4s ease-in-out; }

.custom-select-trigger {
  padding: 0.8rem 1rem; }

.custom-options {
  z-index: 3;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  max-height: 7.7rem;
  display: block;
  margin-top: 1rem;
  overflow: hidden auto;
  background: #fff;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  border-radius: 0.5rem;
  border: 0.1rem solid #b5b5b5;
  transition: all 0.4s ease-in-out;
  transform: translateY(-1.5rem); }
  .custom-options span {
    overflow: hidden;
    padding: 0.8rem 1rem;
    transition: 0.4s ease-in-out; }
    .custom-options span:not(:last-child) {
      border-bottom: 0.1rem solid #b9b9b9; }
    @media screen and (min-width: 1201px) {
      .custom-options span:hover {
        color: #fff;
        background: #b9b9b9; } }

.custom-option.selection {
  color: #fff;
  background: #b9b9b9; }
