$color-fisrt: #2191eb;
$color-second: #0b325d;
$color-third: #df0024;
$color-black: #000;
$color-white: #fff;

.dot {
  padding-left: 1.5rem;
  position: relative;
  a {
    color: #262626;
  }
  @include min(1201px) {
    &:hover {
      &::before {
        background-color: $color-third;
      }
      a {
        color: $color-third;
      }
    }
  }
  &::before {
    content: "";
    top: 0.9rem;
    left: 0;
    bottom: 0;
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 auto;
    border-radius: 5rem;
    background: #a3a3a3;
    position: absolute;
    transition: 0.4s ease-in-out;
  }
}
.btn-contact {
  a {
    gap: 0.8rem;
    overflow: hidden;
    background: #fff;
    line-height: 2rem;
    width: fit-content;
    border-radius: 2rem;
    padding: 0.891rem 1.845rem;
    border: 0.1rem solid #2191eb;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 106, 191, 0.3);
    cursor: pointer;
    @include flex-al;
    @include min(1201px) {
      &:hover {
        i {
          transform: translateX(3rem) scale(1.1);
        }
        span {
          transform: translateX(10rem);
        }
      }
    }
    span {
      font-size: 1.6rem;
      transition: 0.4s ease-in-out;
      cursor: default;
    }
    i {
      transition: 0.4s ease-in-out;
      &::before {
        font-size: 2rem;
      }
    }
  }
}
.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  position: fixed;
  pointer-events: none;
  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.6);
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition-delay: 0.2s;
  }
  &.active {
    pointer-events: visible;
    transform: translateX(0%);
    &::before {
      transform: translateX(0);
    }
  }
  &.open {
    z-index: 10;
    pointer-events: visible;
    transform: translateX(0%);
    &::before {
      transform: translateX(0);
    }
  }
}
.icon {
  display: block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 3rem;
  position: relative;
  &::before {
    top: 0;
    left: 0;
    color: #8a8a8a;
    display: block;
    font-size: 1.8rem;
    position: absolute;
    font-family: "iconfont";
  }
  &.location {
    &::before {
      content: "\e901";
    }
  }
  &.phone-1 {
    &::before {
      content: "\e903";
    }
  }
  &.phone-2 {
    &::before {
      content: "\e904";
    }
  }
  &.email {
    &::before {
      content: "\e902";
      font-size: 1.4rem;
    }
  }
}
