.introduce {
  &-content {
    @include min(1201px) {
      z-index: 3;
      position: relative;
      margin-bottom: -20rem;
    }
    &-container {
      margin-left: auto;
      width: calc(100vw - (100vw - 1110px) / 2);
      @include max(1200px) {
        width: 100%;
      }
    }
    &-inner {
      margin: 0 -3.5rem;
      @include flex;
      @include max(1200px) {
        margin: 0;
        flex-direction: column;
      }
    }
    &-col {
      padding: 0 3.5rem;
      @include max(1200px) {
        padding: 0;
      }
      &:nth-child(1) {
        width: 40%;
        @include max(1200px) {
          width: 100%;
          max-width: 80rem;
          padding: 0 1.5rem;
          margin-bottom: 2rem;
        }
      }
      &:nth-child(2) {
        width: 60%;
        @include max(1200px) {
          width: 100%;
        }
      }
      .title {
        h2 {
          @include flex-al;
          @include max(1200px) {
            font-size: 4rem;
          }
          @include max(767px) {
            font-size: 2.8rem;
          }
        }
        .trademark {
          span {
            font-size: 4.8rem;
            @include max(1200px) {
              font-size: 4rem;
            }
            @include max(767px) {
              font-size: 2.8rem;
            }
          }
        }
      }
      .desc {
        margin-bottom: 3rem;
        @include max(1200px) {
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.6rem;
          font-weight: 300;
          @include lc(4);
        }
      }
    }
    &-img {
      overflow: hidden;
      a {
        display: block;
        overflow: hidden;
        position: relative;
        transition: 0.4s ease-in-out;
        padding-top: calc((545 / 815) * 100%);
        @include min(1201px) {
          &:hover {
            transform: scale(1.3);
            > span {
              opacity: 1;
              transform: scale(2.3);
            }
            .sign {
              opacity: 1;
            }
            .title {
              opacity: 1;
            }
          }
        }
        > span {
          content: "";
          top: 50%;
          left: 50%;
          width: 200%;
          height: 200%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          position: absolute;
          transform-origin: center;
          transform: scale(0);
          border-radius: 50%;
          transition: all 1000ms;
        }
        .sign {
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          user-select: none;
          transition: opacity 700ms ease-in;
          span {
            font-size: 4rem;
          }
        }
        .title {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          user-select: none;
          transition: opacity 700ms ease-in;
          color: #fff;
          font-size: 2.4rem;
          text-transform: uppercase;
          font-weight: 600;
        }
        img {
          @include imgCover;
        }
      }
    }
  }
}

.field {
  &-title {
    &-box {
      position: relative;
    }
  }
  .tab {
    &-wrapper {
      top: 2.5rem;
      right: 0;
      position: absolute;
      @include max(850px) {
        position: static;
        margin-bottom: 2rem;
      }
      @include max(767px) {
        overflow: scroll;
        border-bottom: 0.1rem solid #e7e7e7;
      }
    }
    &-list {
      margin: 0 -3rem;
      flex-wrap: wrap;
      @include flex-al;
      @include max(1200px) {
        margin: 0 -2rem;
      }
      @include max(850px) {
        justify-content: flex-end;
      }
      @include max(767px) {
        width: 100%;
        flex-wrap: nowrap;
        margin-bottom: 0.8rem;
        justify-content: stretch;
      }
      li {
        cursor: pointer;
        padding: 0 3rem;
        @include max(1200px) {
          padding: 0 2rem;
        }
        @include min(1201px) {
          &:hover a {
            color: $color-third;
          }
        }
        &.tab-active {
          a {
            color: $color-third;
          }
        }
        a {
          font-size: 1.8rem;
          color: #424d54;
          font-family: "Oswald";
          text-transform: uppercase;
          transition: 0.4s ease-in-out;
          @include max(1200px) {
            font-size: 1.6rem;
          }
          @include max(767px) {
            font-size: 1.4rem;
            white-space: nowrap;
          }
        }
      }
    }
  }
  &-wrap {
    &.active {
      .tab-content-active {
        .field-box-info {
          > a {
            animation: fadeInUp 2s ease 1s forwards;
          }
          p {
            animation: fadeInUp 2s ease 1.5s forwards;
          }
          .btn-view {
            animation: fadeInUp 2s ease 2s forwards;
          }
        }
      }
    }
  }
  &-box {
    margin: 0 -5rem;
    flex-wrap: wrap;
    @include flex;
    @include max(1200px) {
      margin: 0 -1rem;
    }
    @include max(767px) {
      flex-direction: column;
    }
    &-col {
      padding: 0 5rem;
      @include max(1200px) {
        padding: 0 1rem;
      }
      &:nth-child(1) {
        width: 60%;
        @include max(1200px) {
          width: 50%;
        }
        @include max(767px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 40%;
        @include max(1200px) {
          width: 50%;
        }
        @include max(767px) {
          width: 100%;
        }
      }
    }
    &-img {
      a {
        display: block;
        position: relative;
        overflow: hidden;
        padding-top: calc((420 / 635) * 100%);
        @include min(1201px) {
          &:hover img {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
        img {
          transition: 0.8s ease-in-out;
          @include imgCover;
        }
      }
    }
    &-info {
      @include max(767px) {
        margin-top: 2rem;
      }
      > a {
        display: block;
        position: relative;
        margin-bottom: 3.5rem;
        padding-bottom: 1.5rem;
        opacity: 0;
        @include max(1200px) {
          margin-bottom: 1.5rem;
        }
        &::before {
          content: "";
          bottom: 0;
          left: 0;
          width: 7.6rem;
          height: 0.2rem;
          position: absolute;
          background: $color-third;
        }
        h2 {
          color: #262626;
          font-family: "Oswald";
          font-size: 2.6rem;
          text-transform: uppercase;
          @include max(1200px) {
            font-size: 2.2rem;
          }
          @include max(767px) {
            font-size: 2rem;
          }
        }
      }
      > p {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.8rem;
        color: #424d54;
        margin-bottom: 3.5rem;
        opacity: 0;
        @include lc(4);
      }
      .btn-view {
        opacity: 0;
      }
    }
  }
}

.activate {
  &-title {
    margin-bottom: 5.5rem;
    position: relative;
    @include max(1200px) {
      margin-bottom: 3rem;
    }
    .line-t {
      &:nth-child(1) {
        &::before {
          left: -2rem;
        }
        &::after {
          left: -11.6rem;
        }
      }
    }
  }
  &-block {
    overflow: hidden;
    position: relative;
    @include flex-al;
    @include max(767px) {
      flex-direction: column;
    }
    &-column {
      width: calc(100% / 2);
      @include max(767px) {
        width: 100%;
      }
    }
  }
  &-img {
    position: relative;
    padding-top: calc((390 / 475) * 100%);
    &::before {
      content: "";
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
    }
    img {
      @include imgCover;
    }
  }
  &-swiper {
    width: 83.3333333333%;
    margin: 0 auto;
    position: relative;
    @include max(1024px) {
      width: 100%;
    }
  }
  .swiper {
    overflow: unset;
    @include max(1024px) {
      overflow: hidden;
    }
    &-slide {
      height: auto;
      transform: scale(0.8);
      transition: 0.4s ease-in-out;
      flex-direction: column;
      @include flex;
      &-active {
        height: auto;
        transform: scale(1);
        transition: 0.4s ease-in-out;
        .activate-img {
          &::before {
            display: none;
          }
        }
        p {
          &:nth-child(1) {
            animation: fadeInUp 2s ease 1s forwards;
          }
          &:nth-child(3) {
            animation: fadeInUp 2s ease 2s forwards;
          }
        }
        h3 {
          animation: fadeInUp 2s ease 1.5s forwards;
        }
        .btn-view {
          animation: fadeInUp 2s ease 2.5s forwards;
        }
      }
      &-prev {
        .activate-block {
          flex-direction: row-reverse;
          @include max(767px) {
            flex-direction: column;
          }
        }
      }
    }
    &-control {
      width: calc(100% + 20rem);
      @include min(1366px) {
        width: calc(100% + 40rem);
      }
      @include max(1024px) {
        width: 100%;
      }
      @include max(767px) {
        width: 104%;
      }
      > div {
        @include max(767px) {
          width: auto;
          height: auto;
        }
        &::after {
          color: #fff;
          font-size: 2rem;
          padding: 1.5rem 0.8rem;
          background: rgba(255, 255, 255, 0.7);
          @include max(767px) {
            padding: 0;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 600;
            background: $color-third;
            @include cir(3rem);
            @include flex-ct;
          }
        }
      }
    }
  }
  &-info {
    &-box {
      padding: 5rem;
      background: #fff;
      position: relative;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      @include max(1200px) {
        padding: 4rem;
      }
      @include max(767px) {
        padding: 2rem;
      }
      &::before {
        content: "";
        top: 2.8rem;
        left: -0.8rem;
        bottom: 0;
        width: 1.4rem;
        height: 82%;
        position: absolute;
        background: #df0024;
        @include max(400px) {
          display: none;
        }
      }
      p {
        &:nth-child(1) {
          font-weight: 600;
          color: #424d54;
          margin-bottom: 1rem;
          font-size: 1.8rem;
          opacity: 0;
          @include flex-al;
          @include max(1200px) {
            font-size: 1.6rem;
          }
          .trademark {
            span {
              font-size: 1.8rem;
              @include max(1200px) {
                font-size: 1.6rem;
              }
            }
          }
        }
        &:nth-child(3) {
          font-size: 1.6rem;
          color: #474747;
          line-height: 2.4rem;
          margin-bottom: 3rem;
          opacity: 0;
          @include lc(3);
          @include max(1200px) {
            margin-bottom: 2rem;
          }
          @include max(767px) {
            font-size: 1.4rem;
          }
        }
      }
      h3 {
        opacity: 0;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;
        margin-bottom: 2rem;
        @include lc(3);
        @include max(1200px) {
          font-size: 2.8rem;
          margin-bottom: 2rem;
        }
        @include max(767px) {
          font-size: 2rem;
          line-height: 3rem;
        }
        span {
          font-weight: 900;
        }
      }
      .btn-view {
        opacity: 0;
      }
    }
  }
}

.partner {
  &-inner {
    margin: 0 -5rem;
    flex-wrap: wrap;
    @include flex;
    @include max(1200px) {
      margin: 0 -1rem;
    }
    @include max(767px) {
      flex-direction: column;
    }
  }
  &-col {
    padding: 0 5rem;
    @include max(1200px) {
      padding: 0 1rem;
    }
    &:nth-child(1) {
      width: 60%;
      @include max(767px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: 40%;
      @include max(767px) {
        width: 100%;
      }
    }
  }
  &-title {
    @include max(767px) {
      margin-bottom: 2rem;
    }
    .desc {
      margin-bottom: 2rem;
      p {
        font-weight: 300;
        color: #424d54;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
    .swiper-control {
      position: static;
      transform: unset;
      margin-bottom: 2rem;
      justify-content: flex-end;
      .swiper-prev {
        margin-right: 1.5rem;
      }
      > div {
        width: 3.2rem;
        height: 3.2rem;
        margin-top: 0;
        &::after {
          font-size: 2rem;
          color: #7b7b7b;
          font-weight: 800;
        }
      }
    }
  }
  &-img {
    overflow: hidden;
    position: relative;
    padding-top: calc((500 / 474) * 100%);
    @include min(1201px) {
      &:hover {
        img {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
    img {
      @include imgCover;
      transition: 0.4s ease-in-out;
    }
  }
  &-card {
    margin-bottom: 4rem;
    @include max(1200px) {
      margin-bottom: 2rem;
    }
    &-pd {
      padding: 3rem;
      background: #fff;
      position: relative;
      border: 0.1rem solid #d3d3d3;
      transition: 0.4s ease-in-out;
      @include min(1201px) {
        &:hover {
          background: $color-third;
          img {
            filter: brightness(0) invert(1);
          }
          span {
            color: #fff;
          }
        }
      }
      @include max(1200px) {
        padding: 2rem;
      }
      img {
        width: 5.4rem;
        height: 5.4rem;
        margin: 0 auto;
        object-fit: contain;
        transition: 0.4s ease-in-out;
      }
      span {
        text-align: center;
        display: block;
        margin-top: 3rem;
        color: #424d54;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-family: "Oswald";
        transition: 0.4s ease-in-out;
        @include lc(1);
        @include max(1200px) {
          margin-top: 2rem;
        }
      }
    }
  }
}

.data {
  &-home {
    position: relative;
    &::before {
      content: "";
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(7, 57, 150, 0.4);
    }
  }
  &-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    img {
      height: 100%;
    }
  }
  &-block {
    padding: 12rem 0;
    @include max(1024px) {
      padding: 8rem 0;
    }
    @include max(767px) {
      padding: 0;
    }
  }
  &-box {
    .swiper {
      padding: 3rem;
      margin-left: -3rem;
      width: calc(100% + 6rem);
    }
  }
  .container {
    z-index: 2;
  }
  &-pagination {
    .swiper-pagination-bullet {
      width: 0.6rem;
      height: 0.6rem;
      background: #fff;
      transition: 0.4s ease-in-out;
      &-active {
        width: 4.8rem;
        border-radius: 0.8rem;
      }
    }
  }
  &-content {
    margin: 0 -6.5rem;
    flex-wrap: wrap;
    @include flex-al;
    @include max(1200px) {
      padding: 0 3rem;
    }
    @include max(1150px) {
      justify-content: space-around;
    }
    &-item {
      padding: 0 6.5rem;
      width: calc(100% / 4);
      @include max(1200px) {
        padding: 0 3rem;
      }
      @include max(1150px) {
        width: auto;
      }
      &:nth-child(1) {
        .number {
          span {
            &:nth-child(2) {
              top: 1.2rem;
              right: -0.6rem;
              @include max(1200px) {
                top: -0.6rem;
                right: 4rem;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        .number {
          span {
            &:nth-child(2) {
              top: 3.5rem;
              right: -2.6rem;
              font-size: 3.6rem;
              @include max(1200px) {
                top: 1.2rem;
                right: 3rem;
                font-size: 3rem;
              }
            }
          }
        }
      }
      &:nth-child(4) {
        .number {
          span {
            &:nth-child(2) {
              top: 1.2rem;
              right: 0;
              @include max(1200px) {
                top: -0.6rem;
                right: 4rem;
              }
            }
          }
        }
      }
      .number {
        min-width: 20.8rem;
        position: relative;
        @include flex-ct;
        @include max(1200px) {
          min-width: auto;
        }
        span {
          display: block;
          color: #fff;
          font-size: 6.4rem;
          font-weight: 700;
          font-family: "Oswald";
          @include max(1200px) {
            font-size: 4rem;
          }
          &:nth-child(2) {
            top: 1.2rem;
            right: -0.6rem;
            font-size: 4.8rem;
            font-weight: 300;
            position: static; // Chỗ này chỉnh lại sau
            margin-left: 0.8rem;
            @include max(1150px) {
              position: static;
              margin-left: 1rem;
            }
          }
        }
      }
      .content {
        min-width: 20.8rem;
        min-height: 5.2rem;
        text-align: center;
        span {
          display: block;
          color: #fff;
          font-size: 1.8rem;
          line-height: 2.8rem;
          text-align: center;
        }
      }
    }
  }
}
