.st {
  &-title {
    h2 {
      margin: 0;
    }
  }
  &-disclosure {
    overflow: hidden;
    padding-bottom: 5rem;
    &-box {
      padding: 3rem;
      border-radius: 1.7rem;
      border: 0.1rem solid #e7e7e7;
    }
    .swiper {
      overflow: visible;
      &-button {
        &-disabled {
          color: #bdbdbd !important;
        }
        &-next {
          color: $color-third;
          right: -2rem;
          &::after {
            font-size: 2.8rem;
          }
        }
        &-prev {
          color: $color-third;
          left: -2rem;
          &::after {
            font-size: 2.8rem;
          }
        }
      }
      &-thumbs {
        .swiper-slide-thumb-active {
          .st-box-number {
            span {
              color: #fff;
              font-size: 3.2rem;
              background: $color-third;
              &::before {
                border-top: 1rem solid #df0024;
              }
            }
          }
          .st-box-dot {
            span {
              &:before {
                border: 0.2rem solid $color-third;
              }
              &::after {
                background: $color-third;
              }
            }
          }
        }
      }
    }
  }
  &-box {
    &-number {
      z-index: 2;
      position: relative;
      @include flex-ct;
      span {
        z-index: 1;
        display: block;
        color: #bdbdbd;
        font-weight: 700;
        width: fit-content;
        padding: 1rem 2rem;
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-family: "Oswald";
        border-radius: 0.9rem;
        position: relative;
        background: transparent;
        transition: 0.4s ease-in-out;
        &::before {
          content: "";
          z-index: 1;
          left: 0;
          right: 0;
          bottom: -0.9rem;
          width: 0;
          height: 0;
          display: block;
          margin: 0 auto;
          position: absolute;
          transition: 0.4s ease-in-out;
          border: 0 solid transparent;
          border-left-width: 1rem;
          border-right-width: 1rem;
          border-top: 1rem solid #fff;
        }
      }
    }
    &-dot {
      position: relative;
      span {
        left: 0;
        right: 0;
        bottom: -4.5rem;
        margin: 0 auto;
        display: block;
        position: absolute;
        background: #f7f7f7;
        @include cir(2.7rem);
        &:before {
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto;
          position: absolute;
          background: #fff;
          border: 0.2rem solid #bdbdbd;
          @include cir(1.7rem);
        }
        &::after {
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto;
          position: absolute;
          background: #bdbdbd;
          @include cir(1.1rem);
        }
      }
    }
  }
  &-info {
    @include max(800px) {
      overflow: auto;
    }
    &-block {
      padding: 2rem;
      @include max(1200px) {
        padding: 0;
      }
      @include max(800px) {
        min-width: 100rem;
      }
    }
    &.not-data {
      .sn-new {
        &-list {
          height: 100%;
          margin-bottom: 0;
        }
        &-item {
          height: 100%;
          justify-content: center;
        }
      }
    }
  }
  .sn {
    &-new {
      &-list {
        &:not(:last-child) {
          padding-bottom: 2.5rem;
          border-bottom: 0.1rem solid #e7e7e7;
        }
        &.sub-item {
          .sn-new-item {
            &:not(:last-child) {
              padding-bottom: 3rem;
              &::before {
                content: "";
                bottom: -2.5rem;
                left: 0;
                width: 2.6rem;
                height: 5.2rem;
                position: absolute;
                border: 0.1rem dashed #808080;
                border-top: transparent;
                border-right: transparent;
              }
            }
            &:not(:first-child) {
              > a {
                padding-left: 5rem;
              }
            }
            &:nth-child(1) {
              &::before {
                left: 1.1rem;
              }
            }
            &:nth-child(2) {
              &::before {
                left: 6rem;
              }
            }
            &:nth-child(3) {
              > a {
                padding-left: 10rem;
              }
            }
          }
        }
      }
      &-item {
        position: relative;
        @include flex-btw;
        > a {
          width: 60%;
          padding-bottom: 0;
          @include max(1024px) {
            width: 55%;
          }
          p {
            @include flex-al;
            span {
              @include lc(2);
            }
          }
        }
        .btn-box {
          width: 40%;
          justify-content: space-between;
          @include max(1200px) {
            justify-content: flex-end;
          }
          @include max(1024px) {
            width: 45%;
          }
        }
      }
    }
    &-noti {
      p {
        color: #424d54;
        font-size: 2rem;
      }
    }
  }
}

.sn {
  &-list {
    margin: 0 -2rem;
    flex-wrap: wrap;
    row-gap: 4rem;
    @include flex;
    @include max(1200px) {
      margin: 0 -0.5rem;
      row-gap: 2rem;
    }
  }
  &-item {
    padding: 0 2rem;
    width: calc(100% / 2);
    @include min(1201px) {
      &:hover {
        .sn {
          &-top {
            background: $color-third;
            &-title {
              img {
                filter: brightness(0) invert(1);
              }
              .title {
                a {
                  color: #fff;
                }
              }
            }
            &-year {
              .select {
                &-list {
                  .custom-select-trigger {
                    color: #fff;
                  }
                  &::before {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
    @include max(1200px) {
      padding: 0 0.5rem;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  &-top {
    margin-bottom: 1rem;
    padding: 1.5rem 4rem;
    border-radius: 0.8rem;
    background: #e2e2e2;
    transition: 0.4s ease-in-out;
    @include flex-btw;
    @include max(1200px) {
      padding: 2rem;
    }
    &-title {
      margin: 0 -1rem;
      @include flex-al;
      > div {
        padding: 0 1rem;
      }
      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        @include max(767px) {
          width: 3.4rem;
          height: 3.4rem;
        }
      }
      .title {
        margin: 0;
        padding: 0;
        a {
          color: #424d54;
          font-size: 2.4rem;
          font-family: "Oswald";
          transition: 0.4s ease-in-out;
          @include max(1200px) {
            font-size: 2rem;
          }
          @include max(767px) {
            font-size: 1.8rem;
          }
        }
      }
    }
    &-year {
      color: #424d54;
      @include flex-al;
      .select {
        &-list {
          border: 0;
          padding: 0;
          width: 6rem;
          border-radius: 0;
          background: transparent;
          &::before {
            top: 0;
            right: 0.4rem;
          }
        }
      }
      .custom {
        &-options {
          max-height: unset;
        }
      }
      a {
        font-size: 1.6rem;
        font-weight: 400;
        padding-right: 2rem;
        transition: 0.4s ease-in-out;
        @include max(767px) {
          font-size: 1.4rem;
          padding-right: 1rem;
        }
      }
      i {
        transform: rotate(90deg);
        &::before {
          transition: 0.4s ease-in-out;
        }
      }
    }
  }
  &-bottom {
    height: calc(100% - 8rem);
    padding: 3rem;
    border-radius: 0.8rem;
    background: #fff;
    @include max(1200px) {
      padding: 2rem;
    }
  }
  &-new {
    height: 100%;
    flex-direction: column;
    @include flex;
    .btn-view {
      margin-top: auto;
      a {
        margin: 0;
        justify-content: flex-end;
      }
    }
    &-list {
      margin-bottom: 1.7rem;
      &:not(:last-child) {
        padding-bottom: 1.7rem;
        border-bottom: 0.1rem solid #e7e7e7;
      }
    }
    &-box {
      height: calc(100% - 8.5rem);
    }
    &-item {
      > a {
        display: block;
        padding-bottom: 1rem;
      }
      .time {
        color: #858585;
        margin-bottom: 1.5rem;
        @include max(1200px) {
          font-size: 1.2rem;
        }
      }
      .title {
        margin: 0;
        padding: 0;
        color: #424d54;
        font-size: 1.6rem;
        font-weight: 400;
        @include flex-al;
        @include lc(2);
        @include max(1200px) {
          font-size: 1.4rem;
          min-height: 4rem;
        }
        img {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 2rem;
          object-fit: contain;
        }
      }
      .btn-box {
        margin: 0 -2rem;
        @include flex-al;
        @include max(1200px) {
          margin: 0 -1rem;
        }
        a {
          padding: 0 2rem;
          min-width: 10rem;
          @include flex-al;
          @include min(1201px) {
            &:hover {
              .img {
                background: $color-third;
                img {
                  filter: brightness(0) invert(1);
                }
              }
              span {
                color: $color-third;
              }
            }
          }
          @include max(1200px) {
            padding: 0 1rem;
          }
        }
        .img {
          padding: 1rem;
          border-radius: 50%;
          background: #e7e7e7;
          transition: 0.4s ease-in-out;
          img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
            transition: 0.4s ease-in-out;
          }
        }
        span {
          display: block;
          color: #424d54;
          padding-left: 1.5rem;
          transition: 0.4s ease-in-out;
          @include max(1200px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.connect {
  &.section {
    padding-bottom: 0;
  }
}

.cnt {
  &-img {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    @include min(1201px) {
      &:hover img {
        transform: scale(1.1);
      }
    }
    img {
      height: 100%;
      transition: 0.8s ease-in-out;
      @include max(767px) {
        filter: brightness(1) blur(0.2rem);
      }
    }
  }
  &-content {
    width: fit-content;
    margin: 0 0 0 auto;
    padding: 10rem 6rem;
    position: relative;
    @include flex-al;
    @include max(1200px) {
      padding: 10rem 2rem;
    }
    @include max(767px) {
      margin: 0;
      width: 100%;
      justify-content: center;
    }
    a {
      color: #fff;
      font-size: 3.6rem;
      font-weight: 500;
      font-family: "Oswald";
      text-transform: uppercase;
      @include max(1200px) {
        font-size: 2.4rem;
      }
      @include max(767px) {
        font-size: 2rem;
        color: #df0024;
        font-weight: 600;
        padding: 1.5rem 3rem;
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.contact {
  padding-bottom: 8rem;
  @include max(1200px) {
    padding-bottom: 4rem;
  }
  @include max(767px) {
    padding-bottom: 2rem;
  }
  &-box {
    margin: 0 -2rem;
    @include flex;
    @include max(1200px) {
      margin: 0 -1rem;
    }
    @include max(767px) {
      flex-direction: column;
    }
  }
  &-col {
    padding: 0 2rem;
    width: calc(100% / 2);
    @include max(1200px) {
      padding: 0 1rem;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  &-inner {
    > * {
      font-size: 1.6rem;
      color: #424d54;
      display: block;
      &:not(:last-child) {
        padding-bottom: 2rem;
      }
      @include max(1200px) {
        font-size: 1.4rem;
      }
    }
    .company {
      color: #262626;
      font-weight: 500;
      font-size: 1.8rem;
      @include max(1200px) {
        font-size: 1.6rem;
      }
      @include max(767px) {
        font-size: 1.4rem;
      }
    }
    .position {
      text-transform: uppercase;
    }
    .address {
      color: #00199f;
      &::before {
        content: "\e901";
      }
    }
    .phone1 {
      color: #00199f;
      &::before {
        content: "\e903";
      }
    }
    .phone2 {
      color: #00199f;
      &::before {
        content: "\e904";
      }
    }
    .mail {
      color: #00199f;
      &::before {
        content: "\e902";
      }
    }
    .website {
      color: #00199f;
      &::before {
        content: "\e908";
      }
    }
    .icon {
      padding-left: 3rem;
      position: relative;
      &::before {
        left: 0;
        color: #8a8a8a;
        font-size: 1.6rem;
        font-family: "iconfont";
        position: absolute;
      }
    }
  }
  &-item {
    @include max(767px) {
      margin-bottom: 2rem;
      border-radius: 2rem;
      box-shadow: 0 0.2rem 1rem rgba(59, 108, 148, 0.2);
    }
  }
  &-img {
    position: relative;
    padding-top: calc((312 / 470) * 100%);
    img {
      @include imgCover;
    }
  }
  .form {
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 1rem rgba(59, 108, 148, 0.2);
    @include max(1024px) {
      padding: 2rem;
    }
    &-title {
      .title {
        color: #262626;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 0;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        @include max(1200px) {
          margin-bottom: 2rem;
          font-size: 1.8rem;
        }
      }
    }
    &-box {
      position: relative;
      &:not(:last-child) {
        padding-bottom: 1.2rem;
      }
      &.list {
        margin: 0 -1rem;
        @include flex-al;
        @include max(767px) {
          margin: 0 -0.5rem;
        }
      }
      &-list {
        padding: 0 1rem;
        width: 100%;
        @include max(767px) {
          padding: 0 0.5rem;
        }
      }
      input,
      label,
      textarea {
        display: block;
        width: 100%;
        outline: none;
        cursor: pointer;
      }
      input,
      textarea {
        padding: 0.8rem;
        transition: 0.4s ease-in-out;
        @include min(1201px) {
          &:hover {
            border-color: $color-second;
          }
        }
        input {
          min-height: 3.4rem;
        }
      }
      input {
        border: 0;
        border-bottom: 0.1rem solid #d3d3d3;
      }
      textarea {
        resize: vertical;
        min-height: 10rem;
        padding-right: 3rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #d3d3d3;
      }
      label {
        color: #424d54;
        font-size: 1.4rem;
        padding-bottom: 0.8rem;
        span {
          color: $color-third;
        }
      }
      .ic-attach-file {
        bottom: 1rem;
        right: 1rem;
        position: absolute;
        &::before {
          font-size: 2rem;
        }
      }
    }
    &-capcha {
      padding-bottom: 1rem;
    }
    .btn-send {
      a {
        width: 100%;
        font-size: 1.6rem;
        color: #fff;
        padding: 1rem 1.2rem;
        text-align: center;
        cursor: pointer;
        @include max(1200px) {
          font-size: 1.8rem;
          padding: 1rem;
        }
        @include max(767px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.investor {
  .field {
    padding-top: 8rem;
    @include max(1200px) {
      padding-top: 4rem;
    }
    .tab {
      &-list {
        margin: 0;
      }
    }
  }
  .sn {
    &-new {
      &-item {
        .time {
          margin-bottom: 0.7rem;
        }
      }
    }
  }
  .contact {
    .container {
      padding: 4rem;
      border: 0.1rem solid #e7e7e7;
      @include max(1200px) {
        padding: 4rem;
      }
      @include max(1024px) {
        padding: 2rem;
      }
      @include max(767px) {
        border: 0;
        margin-top: 2rem;
        padding: 0 1.5rem;
      }
    }
  }
}
