.nw {
  &-tab {
    padding-bottom: 7rem;
  }
  &-title {
    margin-bottom: 4rem;
    @include max(1200px) {
      margin-bottom: 3rem;
    }
    @include max(767px) {
      margin-bottom: 2rem;
    }
    a {
      color: #424d54;
      font-size: 4.4rem;
      font-weight: 500;
      font-family: "Oswald";
      text-transform: uppercase;
      @include max(1200px) {
        font-size: 4rem;
      }
      @include max(767px) {
        font-size: 2.8rem;
      }
    }
  }
  &-list {
    margin: 0 -1rem;
    position: relative;
    flex-wrap: wrap;
    @include flex;
    @include max(767px) {
      margin: 0 -0.5rem;
    }
  }
  &-item {
    padding: 0 1rem 2rem 1rem;
    flex-wrap: wrap;
    @include flex;
    @include max(767px) {
      padding: 0 0.5rem 1rem 0.5rem;
      flex-direction: column-reverse;
    }
    &:nth-child(1) {
      width: 100%;
      .nw-col {
        padding: 0 1rem;
        @include max(767px) {
          padding: 0 0.5rem;
        }
        &:nth-child(1) {
          width: 35%;
          @include max(767px) {
            width: 100%;
          }
        }
        &:nth-child(2) {
          width: 65%;
          @include max(767px) {
            width: 100%;
          }
        }
      }
      .content {
        &-info {
          z-index: 2;
          top: 5rem;
          width: 100%;
          max-width: 60rem;
          position: absolute;
          @include max(991px) {
            top: 2rem;
            max-width: 50rem;
          }
          @include max(767px) {
            position: static;
            max-width: unset;
          }
        }
        &-img {
          a {
            overflow: hidden;
            display: block;
            position: relative;
            padding-top: calc((480 / 860) * 100%);
            img {
              @include imgCover;
            }
          }
        }
        &-title {
          h3 {
            color: #262626;
            font-weight: 600;
            font-size: 3rem;
            margin-bottom: 3rem;
            @include lc(3);
            @include max(1200px) {
              font-size: 2.4rem;
              line-height: 4rem;
              margin-bottom: 2rem;
            }
            @include max(767px) {
              font-size: 1.8rem;
            }
          }
        }
        &-time {
          span {
            font-size: 2.4rem;
            @include max(1200px) {
              font-size: 1.8rem;
            }
            @include max(767px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    &:not(:nth-child(1)) {
      width: 50%;
      flex-direction: column-reverse;
      @include max(767px) {
        width: 100%;
      }
      .nw-col {
        width: 100%;
      }
      .content {
        &-title {
          margin-bottom: 1.5rem;
          h3 {
            color: #262626;
            font-size: 2.5rem;
            line-height: 3.2rem;
            @include lc(2);
            @include max(1200px) {
              font-size: 2.4rem;
            }
            @include max(767px) {
              font-size: 1.8rem;
            }
          }
        }
        &-img {
          a {
            display: block;
            overflow: hidden;
            position: relative;
            padding-top: calc((340 / 574) * 100%);
            img {
              @include imgCover;
            }
          }
        }
        &-time {
          span {
            line-height: 2rem;
            font-size: 1.8rem;
            @include max(767px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  .content {
    &-info {
      padding: 2rem;
      background: rgba(255, 255, 255, 0.5);
      @include max(1200px) {
        padding: 2rem;
      }
    }
    &-time {
      color: #a6a6a6;
      font-weight: 300;
    }
  }
  &-card {
    &-box {
      padding-bottom: 5rem;
    }
    &-list {
      margin: 0 -1.5rem;
      margin-bottom: -3rem;
      flex-wrap: wrap;
      @include flex;
      @include max(1200px) {
        margin: 0 -0.5rem -1rem -0.5rem;
      }
    }
    &-item {
      padding: 0 1.5rem 3rem 1.5rem;
      width: calc(100% / 3);
      @include max(1200px) {
        padding: 0 0.5rem 1rem 0.5rem;
      }
      @include max(767px) {
        width: calc(100% / 2);
      }
      @include max(500px) {
        width: 100%;
      }
      .card {
        &-info {
          @include min(1201px) {
            &:hover {
              .card-img img {
                transform: translate(-50%, -50%) scale(1.1);
              }
            }
          }
        }
        &-img {
          overflow: hidden;
          position: relative;
          padding-top: calc((240 / 370) * 100%);
          &.gallItem {
            &::before {
              content: "";
              z-index: 1;
              bottom: 2rem;
              right: 1.4rem;
              width: 3.6rem;
              height: 3.6rem;
              cursor: pointer;
              position: absolute;
              background: url("/assets/img/tin-tuc/picture.svg");
              @include default-background;
            }
          }
          // .link-video {
          //   &::before {
          //     content: "";
          //     top: 0;
          //     bottom: 0;
          //     left: 0;
          //     right: 0;
          //     z-index: 1;
          //     width: 6.4rem;
          //     height: 4.2rem;
          //     display: block;
          //     margin: auto;
          //     position: absolute;
          //     background: url("/assets/img/tin-tuc/youtube.svg");
          //     @include default-background;
          //     background-size: contain;
          //   }
          // }
          img {
            transition: 0.8s ease-in-out;
            @include imgCover;
          }
          iframe {
            @include imgCover;
          }
          video {
            @include imgCover;
          }
        }
        &-content {
          padding-top: 2rem;
          p {
            line-height: 2.5rem;
            &:nth-child(1) {
              min-height: 5rem;
              font-size: 1.6rem;
              font-weight: 500;
              margin-bottom: 1.2rem;
              text-transform: capitalize;
              @include lc(2);
            }
            &:nth-child(2) {
              font-size: 1.5rem;
              font-weight: 300;
              @include max(1200px) {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
  &-link {
    margin-top: 6rem;
    @include max(1200px) {
      margin-top: 4rem;
    }
    &-detail,
    .btn-collapse {
      width: fit-content;
      display: block;
      margin: 0 auto;
      font-weight: 400;
      font-family: "Oswald";
      font-size: 1.8rem;
      color: $color-third;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      @include max(1200px) {
        font-size: 1.6rem;
      }
      &::before,
      &::after {
        content: "";
        top: 1.2rem;
        width: 5rem;
        height: 0.2rem;
        background: #999;
        position: absolute;
        @include max(767px) {
          width: 4rem;
        }
      }
      &::before {
        left: -8rem;
        @include max(767px) {
          left: -5rem;
        }
      }
      &::after {
        right: -8rem;
        @include max(767px) {
          right: -5rem;
        }
      }
    }
  }
}

.blog {
  .swiper {
    &-control {
      margin: 0 -2rem;
      margin-bottom: 4rem;
      transform: none;
      position: static;
      justify-content: flex-end;
      > div {
        width: auto;
        height: auto;
        color: #858585;
        padding: 0 2rem;
        transition: 0.4s ease-in-out;
        @include min(1201px) {
          &:hover {
            color: $color-third;
          }
        }
        &::after {
          font-size: 2.4rem;
        }
        &:nth-child(1) {
          transform: rotate(180deg);
        }
      }
    }
  }
  &-inner {
    @include flex;
    @include max(500px) {
      row-gap: 2rem;
      flex-direction: column;
    }
  }
  &-col {
    width: calc(100% / 2);
    @include max(500px) {
      width: 100%;
    }
    &:nth-child(1) {
      .blog {
        &-content {
          padding: 6rem 6rem 0 0;
          @include max(1200px) {
            padding: 2rem 2rem 0 0;
          }
          @include max(500px) {
            padding: 2rem;
          }
        }
      }
    }
    &:nth-child(2) {
      .blog {
        &-content {
          padding: 0 0 6rem 6rem;
          @include max(1200px) {
            padding: 0 0 2rem 2rem;
          }
          @include max(500px) {
            padding: 2rem;
          }
        }
        &-list {
          flex-direction: column-reverse;
          @include max(500px) {
            flex-direction: column;
          }
        }
      }
    }
  }
  &-list {
    flex-direction: column;
    @include flex;
    @include min(1201px) {
      &:hover {
        .blog {
          &-img {
            img {
              transform: translate(-50%, -50%) scale(1.1);
            }
          }
          &-content {
            h3 {
              color: $color-third;
            }
          }
        }
      }
    }
    @include max(500px) {
      overflow: hidden;
      background: #fff;
      border-radius: 1.7rem;
    }
  }
  &-img {
    overflow: hidden;
    position: relative;
    padding-top: calc((400 / 585) * 100%);
    img {
      @include imgCover;
    }
  }
  &-content {
    h3 {
      min-height: 10.8rem;
      font-weight: 500;
      color: #262626;
      font-size: 2.4rem;
      margin-bottom: 2rem;
      line-height: 3.6rem;
      transition: 0.4s ease-in-out;
      @include lc(3);
      @include max(1200px) {
        font-size: 1.8rem;
      }
      @include max(767px) {
        font-size: 1.6rem;
      }
    }
  }
  &-block {
    row-gap: 2rem;
    flex-wrap: wrap;
    @include flex-btw;
  }
  &-time {
    p {
      font-size: 1.4rem;
      color: #757575;
      font-weight: 300;
      @include max(1200px) {
        font-size: 1.6rem;
      }
      @include max(1200px) {
        font-size: 1.4rem;
      }
    }
  }
}

.category {
  &-list {
    margin: 0 -1.5rem;
    flex-wrap: wrap;
    @include flex;
    @include max(1200px) {
      margin: 0 -0.5rem;
    }
    @include max(500px) {
      row-gap: 2rem;
    }
  }
  &-item {
    padding: 0 1.5rem;
    width: calc(100% / 2);
    @include min(1201px) {
      &:hover {
        .category {
          &-img {
            img {
              transform: translate(-50%, -50%) scale(1.1);
            }
          }
          &-desc {
            &-box {
              .ev-title {
                p {
                  color: $color-third;
                }
              }
            }
          }
        }
      }
    }
    @include max(1200px) {
      padding: 0 0.5rem;
    }
    @include max(500px) {
      width: 100%;
    }
  }
  &-img {
    overflow: hidden;
    position: relative;
    padding-top: calc((400 / 585) * 100%);
    img {
      @include imgCover;
    }
  }
  &-info {
    margin: 0 -2rem;
    @include flex;
    @include max(1200px) {
      margin: 0 -1rem;
    }
    @include max(767px) {
      flex-direction: column;
    }
  }
  &-time {
    width: 20%;
    z-index: 3;
    padding: 0 2rem;
    padding-top: 3rem;
    position: relative;
    @include max(1200px) {
      padding: 0 1rem;
      width: 25%;
    }
    @include max(767px) {
      margin-top: -5.6rem;
      width: 30%;
    }
    &-box {
      padding: 1.5rem;
      background: #eeeeee;
      flex-direction: column;
      @include flex-ct;
      @include max(767px) {
        padding: 1rem;
      }
      a {
        display: block;
        color: #424d54;
        text-align: center;
        @include max(767px) {
          font-size: 1.2rem;
        }
        &.month {
          font-weight: 500;
        }
        &.year {
          font-weight: 300;
        }
      }
    }
  }
  &-desc {
    width: 80%;
    padding: 0 2rem;
    @include max(1200px) {
      padding: 0 1rem;
      width: 75%;
    }
    @include max(767px) {
      width: 100%;
    }
    &-box {
      z-index: 3;
      position: relative;
      margin-top: -5rem;
      padding: 2rem 4rem;
      background: #fff;
      border: 0.1rem solid #e7e7e7;
      @include max(1200px) {
        padding: 2rem;
      }
      @include max(767px) {
        margin-top: 0;
      }
      .ev-title {
        h3 {
          font-size: 1.8rem;
          color: #757575;
          margin-bottom: 2rem;
          @include max(1200px) {
            font-size: 1.6rem;
          }
          &::before {
            top: 1.1rem;
          }
        }
        p {
          min-height: 9rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 3rem;
          color: #262626;
          margin-bottom: 1.5rem;
          transition: 0.4s ease-in-out;
          @include lc(3);
          @include max(1200px) {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

.ser {
  &-box {
    flex-wrap: wrap;
    @include flex-al;
    @include max(1200px) {
      align-items: stretch;
    }
  }
  &-col {
    &:nth-child(1) {
      width: 40%;
      @include max(850px) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      width: 60%;
      @include max(850px) {
        width: 100%;
      }
    }
  }
  &-img {
    margin-right: -6rem;
    position: relative;
    padding-top: calc((648 / 863) * 100%);
    @include max(1200px) {
      margin-right: 0;
    }
    @include max(850px) {
      padding-top: calc((648 / 1320) * 100%);
    }
    img {
      @include imgCover;
    }
  }
  .swiper {
    &-control {
      transform: none;
      position: static;
      margin-right: -6rem;
      justify-content: flex-end;
      @include max(1024px) {
        margin-right: -4rem;
      }
      @include max(850px) {
        margin-right: 0;
      }
      > div {
        width: 6rem;
        height: 6rem;
        background: #e4e4e4;
        @include max(1024px) {
          width: 4rem;
          height: 4rem;
        }
        &:nth-child(1) {
          opacity: 0;
          pointer-events: none;
        }
        &::after {
          font-size: 2.8rem;
          color: $color-third;
          @include max(1024px) {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  &-flex {
    top: 6rem;
    bottom: 6rem;
    width: 100%;
    position: absolute;
    padding: 7rem 12rem;
    background: rgba(247, 247, 247, 0.6);
    @include max(1680px) {
      padding: 6rem 12rem;
    }
    @include max(1200px) {
      height: 100%;
      padding: 4rem;
      position: static;
    }
    @include max(1024px) {
      padding: 1.5rem;
    }
  }
  &-content {
    height: 100%;
    max-width: 70rem;
    @include flex-al;
    @include max(1366px) {
      max-width: 60rem;
    }
    @include max(850px) {
      max-width: none;
    }
  }
  &-info {
    &-block {
      row-gap: 1.5rem;
      flex-wrap: wrap;
      @include flex-btw;
      &:first-child {
        margin-bottom: 5rem;
        @include max(1600px) {
          margin-bottom: 3rem;
        }
        @include max(1200px) {
          margin-bottom: 2rem;
        }
      }
      .ev-title {
        margin-bottom: 0;
        h3 {
          color: #424d54;
        }
      }
    }
    &-link {
      margin: 0 -2rem;
      @include flex;
      @include max(1200px) {
        margin: 0 -1rem;
      }
      @include max(767px) {
        justify-content: flex-end;
      }
      a {
        padding: 0 2rem;
        font-size: 1.8rem;
        color: #757575;
        font-weight: 300;
        font-family: "Oswald";
        text-transform: uppercase;
        @include max(1200px) {
          padding: 0 1rem;
          font-size: 1.6rem;
        }
        @include max(767px) {
          font-size: 1.4rem;
        }
      }
    }
    &-title {
      margin-bottom: 5rem;
      @include max(1600px) {
        margin-bottom: 3rem;
      }
      @include max(767px) {
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 3.2rem;
        font-weight: 500;
        @include lc(2);
        @include max(1280px) {
          font-size: 2.8rem;
        }
        @include max(767px) {
          font-size: 2rem;
          @include lc(4);
        }
      }
    }
    &-time {
      a {
        color: #424d54;
        font-size: 1.4rem;
        font-weight: 300;
        @include max(1200px) {
          font-size: 1.6rem;
        }
        @include max(767px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.home-page-new {
  .infomation {
    padding-bottom: 8rem;
    @include max(1200px) {
      padding-bottom: 4rem;
    }
  }
  &.main {
    .if {
      &-item {
        &:hover {
          a {
            &::before {
              filter: none;
            }
          }
        }
        &:nth-child(1) {
          a {
            &::before {
              background: url("../assets/img/tin-tuc/logo-cong-doan.svg");
              @include default-background;
            }
          }
        }
        &:nth-child(2) {
          a {
            &::before {
              background: url("../assets/img/tin-tuc/logo-doan-TN.svg");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
        }
        &:nth-child(3) {
          a {
            &::before {
              background: url("../assets/img/van-hoa-doanh-nghiep/evngenco3.svg");
              @include default-background;
            }
          }
        }
        &.tab-active {
          a {
            &::before {
              filter: none;
            }
          }
        }
      }
      &-tab {
        &.tablist-2 {
          .if-wrap {
            &::before {
              background: #fff;
              border: 0.1rem solid #e7e7e7;
            }
          }
          .if-img {
            border-radius: 0;
          }
        }
      }
      .group {
        &-box {
          .ev-title {
            h3 {
              color: #757575;
              span {
                font-size: 2.4rem;
              }
            }
          }
          > a {
            display: block;
            margin-bottom: 2rem;
            > h3 {
              color: #262626;
              font-size: 3.4rem;
              font-weight: 500;
              line-height: 4.6rem;
              @include lc(3);
              @include max(1200px) {
                font-size: 2.8rem;
              }
              @include max(767px) {
                font-size: 2rem;
              }
            }
            &.time {
              color: #757575;
            }
          }
          .desc {
            a {
              font-size: 1.6rem;
              color: #424d54;
              font-weight: 300;
              line-height: 3.2rem;
              margin-bottom: 3rem;
              @include lc(3);
              @include max(1200px) {
                margin-bottom: 2rem;
              }
              @include max(767px) {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
      .establish {
        padding: 1.2rem;
        margin-left: -1.2rem;
        width: calc(100% + 2.4rem);
      }
    }
  }
  .if {
    &-item {
      &:nth-child(1) {
        a {
          &::before {
            background: url("../assets/img/tin-tuc/newspaper-folded.svg");
            @include default-background;
          }
        }
      }
      &:nth-child(2) {
        a {
          &::before {
            background: url("../assets/img/tin-tuc/image-gallery.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
      &:nth-child(3) {
        a {
          &::before {
            background: url("../assets/img/tin-tuc/watching.svg");
            @include default-background;
          }
        }
      }
    }
  }
  .nw {
    &-card {
      &-box {
        padding-bottom: 0;
      }
    }
    &-tab {
      padding-bottom: 0;
    }
  }
}
