.banner {
  .swiper {
    height: 100%;
    &-parent {
      .video {
        &::after {
          background: transparent;
        }
      }
      .swiper-slide-active {
        .banner-home-content {
          h2 {
            animation: fadeInUp 1.5s ease 1s forwards;
          }
          p {
            animation: fadeInUp 2s ease 1.5s forwards;
          }
          .banner-home-child {
            animation: fadeInUp 2s ease 2s forwards;
          }
          .btn-view {
            animation: fadeInUp 2.5s ease 2s forwards;
          }
        }
      }
    }
    &-control {
      &-parent {
        width: calc(100% - 5rem);
        @include max(1200px) {
          width: 100%;
        }
        > div {
          margin-top: 0;
          &::after {
            color: #fff;
            font-size: 3.5rem;
            opacity: 1;
            transition: 0.4s ease-in-out;
            @include max(1200px) {
              font-size: 3rem;
            }
            @include max(767px) {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
  &.fullScreen {
    z-index: 3;
    position: relative;
    height: calc(100vh - 11rem);
    @include max(1200px) {
      height: auto;
    }
  }
  &-home {
    height: 100%;
    position: relative;
    @include flex;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(56.25% - 20rem);
      @include max(1200px) {
        padding-top: 58.25%;
      }
      @include max(550px) {
        padding-top: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(14, 67, 159, 0.6) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    &-video {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
    }
    img {
      @include imgCover;
    }
    &-wrap {
      max-width: 75rem;
      padding: 4rem;
      border-radius: 1.4rem;
      background: rgba(2, 13, 41, 0.5);
      @include max(767px) {
        padding: 2rem;
      }
      @include max(500px) {
        padding: 1.5rem;
      }
    }
    &-inner {
      flex-wrap: wrap;
      @include flex;
      > div {
        width: calc(100% / 2);
        @include max(500px) {
          width: 100%;
        }
      }
    }
    &-text {
      padding-right: 2rem;
      @include max(500px) {
        margin-bottom: 1rem;
        padding-right: 0;
      }
    }
    &-child {
      opacity: 0;
      position: relative;
      padding-top: calc((175 / 656) * 100%);
      @include max(500px) {
        padding-top: calc((175 / 656) * 160%);
      }
      img {
        @include imgCover;
      }
    }
    &-box {
      max-width: 100rem;
      position: relative;
      flex-direction: column;
      @include flex;
      @include max(1500px) {
        margin-left: 8rem;
      }
      @include max(1200px) {
        max-width: unset;
      }
      @include max(767px) {
        margin-left: 4rem;
      }
    }
    &-pos {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      @include flex-ct;
    }
    &-content {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      @include flex;
      @include max(1200px) {
        padding: 0 3rem;
      }
      @include max(500px) {
        padding: 0 1rem;
      }
      h2 {
        color: #fff;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        font-size: 5.6rem;
        position: relative;
        text-transform: uppercase;
        font-family: "Oswald";
        opacity: 0;
        @include max(1200px) {
          font-size: 4rem;
        }
        @include max(767px) {
          font-size: 2.4rem;
          margin-bottom: 1rem;
          padding-bottom: 1rem;
        }
        @include max(500px) {
          font-size: 1.8rem;
        }
        span {
          font-size: 6.4rem;
          @include max(1200px) {
            font-size: 4rem;
          }
          @include max(767px) {
            font-size: 2.4rem;
          }
          @include max(500px) {
            font-size: 1.8rem;
          }
        }
        &::before {
          content: "";
          bottom: 0;
          left: 0;
          width: 12rem;
          height: 0.3rem;
          position: absolute;
          background: $color-third;
        }
      }
      p {
        opacity: 0;
        max-width: 62rem;
        color: #fff;
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin-bottom: 3rem;
        @include lc(3);
        @include max(1200px) {
          font-size: 1.6rem;
        }
        @include max(767px) {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
        @include max(500px) {
          line-height: 2.2rem;
          font-size: 1.3rem;
          @include lc(2);
        }
      }
      .btn-view {
        opacity: 0;
        span {
          color: #fff;
        }
      }
    }
  }
}

.bn {
  &-swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &-mask {
    position: relative;
    padding-top: calc((500 / 1520) * 100%);
    @include max(1200px) {
      padding-top: calc((500 / 1520) * 120%);
    }
    @include max(767px) {
      padding-top: calc((500 / 1520) * 130%);
    }
  }
  &-slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &-img {
    img {
      @include imgCover;
    }
  }
  &-box {
    width: 100%;
    height: 100%;
    flex-direction: column;
    @include flex-ct;
  }
  &-video {
    padding: 2rem;
    border-radius: 1.2rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    img {
      transition: 0.4s ease-in-out;
    }
    @include min(1201px) {
      &:hover {
        animation: hover-pulse 2s infinite;
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.investor {
  .banner {
    &-home {
      &::before {
        padding-top: calc(44% - 20rem);
        @include max(1440px) {
          padding-top: calc(48% - 20rem);
        }
        @include max(1280px) {
          padding-top: calc(54% - 20rem);
        }
        @include max(1200px) {
          padding-top: 58.25%;
        }
        @include max(450px) {
          padding-top: calc((700 / 1728) * 400%);
        }
        @include max(360px) {
          padding-top: calc((700 / 1728) * 450%);
        }
      }
      &::after {
        background: rgba(8, 54, 134, 0.37);
      }
    }
    &-investor {
      height: 100%;
      flex-wrap: wrap;
      @include flex-btw;
    }
  }
  &-col {
    width: calc(100% / 2);
    @include max(450px) {
      width: 100%;
    }
    span {
      display: block;
      color: #fff;
      font-weight: 300;
    }
  }
  &-para {
    &-box {
      margin: 0 -2.5rem;
      align-items: flex-end;
      @include flex;
      @include max(1200px) {
        margin: 0 -1.5rem;
      }
      @include max(767px) {
        margin: 0 -1rem;
      }
      > div {
        padding: 0 2.5rem;
        width: calc(100% / 2);
        @include max(1200px) {
          padding: 0 1.5rem;
        }
        @include max(767px) {
          padding: 0 1rem;
        }
      }
      .unit {
        font-size: 1.8rem;
        &:not(:last-child) {
          padding-bottom: 1.2rem;
        }
        @include max(1200px) {
          font-size: 1.4rem;
        }
        @include max(767px) {
          font-size: 1.2rem;
        }
      }
      .left {
        text-align: right;
        position: relative;
        &::after {
          content: "";
          top: 0;
          right: 0;
          width: 0.1rem;
          height: 100%;
          background: #fff;
          position: absolute;
        }
        .quantity {
          font-weight: 600;
          font-size: 2.4rem;
          padding-bottom: 1.2rem;
          font-family: "Oswald";
          text-transform: uppercase;
          @include max(1200px) {
            font-size: 2rem;
          }
          @include max(767px) {
            font-size: 1.6rem;
            padding-bottom: 1rem;
          }
        }
        .year {
          font-size: 1.6rem;
          padding-bottom: 1.2rem;
          text-transform: uppercase;
          @include max(1200px) {
            font-size: 1.3rem;
          }
          @include max(767px) {
            font-size: 1.2rem;
            padding-bottom: 1rem;
          }
        }
        .number {
          font-size: 5.4rem;
          font-family: "Oswald";
          font-weight: 600;
          @include max(1200px) {
            font-size: 4rem;
          }
          @include max(767px) {
            font-size: 3rem;
          }
        }
        .plan {
          gap: 0.6rem;
          padding-bottom: 1.2rem;
          justify-content: flex-end;
          align-items: flex-end;
          flex-wrap: wrap;
          @include flex;
          @include max(767px) {
            padding-bottom: 1rem;
          }
          span {
            font-weight: 600;
            font-size: 2.8rem;
            font-family: "Oswald";
            line-height: 3.4rem;
            @include max(1200px) {
              font-size: 2rem;
              line-height: 3rem;
            }
            @include max(767px) {
              font-size: 1.8rem;
            }
          }
        }
        img {
          width: 6rem;
          height: 6rem;
          object-fit: contain;
          margin: 0 0 0 auto;
          filter: brightness(0) invert(1);
        }
      }
      .right {
        span {
          &:nth-child(1) {
            font-weight: 300;
            font-size: 1.6rem;
            @include max(767px) {
              font-size: 1.3rem;
            }
          }
        }
        .number {
          font-size: 3.6rem;
          font-weight: 600;
          font-weight: 600;
          @include max(1200px) {
            font-size: 3rem;
          }
          @include max(767px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
  &-revenue {
    flex-wrap: wrap;
    @include flex;
    .box-inner {
      padding: 4rem;
      width: calc(100% / 2);
      position: relative;
      @include max(1200px) {
        padding: 2rem;
      }
      @include max(450px) {
        padding: 1rem;
      }
      &:nth-child(odd) {
        text-align: right;
        &::before {
          content: "";
          top: 0;
          right: 0;
          width: 0.1rem;
          height: 100%;
          background: #a0deff;
          position: absolute;
        }
      }
      &:nth-child(1),
      &:nth-child(2) {
        &::after {
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1rem;
          background: #a0deff;
          position: absolute;
        }
      }
      &-wrap {
        .text {
          font-weight: 600;
          font-size: 1.8rem;
          text-transform: uppercase;
          @include max(1200px) {
            font-size: 1.6rem;
          }
          @include max(767px) {
            font-size: 1.3rem;
          }
        }
        .year {
          text-transform: uppercase;
          @include max(1200px) {
            font-size: 1.3rem;
          }
        }
        .number {
          font-weight: 600;
          font-size: 4rem;
          font-family: "Oswald";
          @include max(1200px) {
            font-size: 3rem;
          }
          @include max(767px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.corporate,
.form-recruitment,
.home-page-new,
.recruitment,
.business,
.business-2,
.introduce,
.specialize,
.home-page-postion {
  .banner {
    &-home {
      &::before {
        padding-top: calc(42.25% - 18rem);
        @include max(1200px) {
          padding-top: 58.25%;
        }
        @include max(450px) {
          padding-top: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(14, 67, 159, 0.6) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
}

.home-page-new,
.form-recruitment,
.recruitment,
.business,
.business-2,
.introduce,
.specialize,
.home-page-postion {
  .banner {
    &-home {
      &::after {
        display: none;
      }
    }
  }
}
