.footer {
  overflow: hidden;
  position: relative;
  background: #ededed;
  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: url(../assets/img/banner/banner-footer.webp);
    @include default-background;
  }
  &-top {
    padding: 6rem 0;
    position: relative;
  }
  &-bottom {
    z-index: 2;
    position: relative;
    background: #ecedee;
  }
  &-logo {
    padding-bottom: 6rem;
    a {
      width: 27rem;
      height: 6rem;
      display: block;
    }
  }
  &-flex {
    margin: 0 -1rem;
    @include flex;
  }
  &-column {
    padding: 0 1rem;
    flex-direction: column;
    @include flex;
  }
  &-address {
    width: 40%;
    justify-content: space-between;
    .list {
      &-item {
        &:not(:nth-child(2)) {
          padding-left: 3rem;
        }
        &:nth-child(1) {
          a {
            &::before {
              content: "\e901";
            }
          }
        }
        &:last-child {
          a {
            color: #00199f;
            &::before {
              content: "\e902";
              font-size: 1.4rem;
            }
          }
        }
        a {
          &::before {
            top: 0;
            left: 0;
            color: #8a8a8a;
            display: block;
            font-size: 1.8rem;
            position: absolute;
            font-family: "iconfont";
          }
        }
        .box {
          a {
            position: relative;
            padding-left: 3rem;
            &:first-child {
              &::before {
                content: "\e903";
              }
            }
            &:last-child {
              margin-left: 2rem;
              &:last-child {
                &::before {
                  content: "\e904";
                }
              }
            }
          }
        }
      }
    }
  }
  &-page {
    width: 20%;
  }
  &-brand {
    width: 40%;
    justify-content: space-between;
    .list {
      &-item {
        .box {
          row-gap: 2rem;
          flex-direction: column;
          &-item {
            gap: 2rem;
            justify-content: flex-end;
            @include flex;
            img {
              object-fit: contain;
              &:not(:last-child) {
                @include sqr(5.6rem);
              }
              &:last-child {
                width: 11.4rem;
                height: 5.6rem;
              }
            }
          }
        }
      }
    }
  }
  .list {
    &-item {
      position: relative;
      &:not(:last-child) {
        padding-bottom: 2rem;
      }
      a {
        display: block;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      .box {
        flex-wrap: wrap;
        @include flex;
      }
    }
  }
  &-bottom {
    padding: 1.2rem 0;
    &-social {
      align-items: center;
      justify-content: space-between;
    }
  }
  &-license {
    line-height: 1.6rem;
    font-size: 1.3rem;
    cursor: default;
  }
  .social {
    gap: 2rem;
    @include flex-al;
    &-item {
      a {
        @include sqr(3rem);
        @include min(1201px) {
          &:hover {
            img {
              transform: translateY(-0.5rem);
            }
          }
        }
      }
    }
  }
}
