.hd {
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 100;
  overflow: hidden;
  position: sticky;
  background: #fff;
  transition: 0.6s ease-in-out;
  border-bottom: 0.1rem solid #ececec;
  flex-direction: column;
  @include flex;
  &.in {
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
  }
  &.marquee-block {
    height: 11rem;
    .hd {
      &-marquee {
        display: block;
      }
      &-nav {
        top: 11rem;
        height: calc(100% - 11rem);
      }
      &-bar {
        top: 5.5rem;
        @include max(1279px) {
          top: 2.5rem;
        }
        @include max(1200px) {
          top: 2.2rem;
        }
      }
    }
    ~ .main .banner.fullScreen {
      height: calc(100vh - 11rem);
      @include max(1200px) {
        height: auto;
      }
    }
  }
  &-marquee {
    display: none;
    background: #0a5ba4;
    .marquee {
      z-index: 11;
      overflow: hidden;
      position: relative;
      &-item {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 20s linear infinite;
        @include min(1201px) {
          &:hover {
            animation-play-state: paused;
          }
        }
        span {
          color: #fff;
          display: inline-block;
          padding: 0.45rem;
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
        a {
          color: #fff;
          font-weight: 600;
          cursor: default;
        }
      }
    }
  }
  &-menu {
    height: 100%;
    @include flex-btw;
    @include max(1279px) {
      padding-left: 5rem;
    }
    @include max(1200px) {
      padding-left: 0;
      padding-right: 6rem;
    }
    @include max(767px) {
      padding-right: 5rem;
    }
  }
  &-bar {
    top: 2.5rem;
    left: 7rem;
    position: fixed;
    @include max(1440px) {
      left: 1rem;
    }
    @include max(1279px) {
      top: 2.5rem;
      left: 1.5rem;
      position: absolute;
    }
    @include max(1200px) {
      top: 2.2rem;
      left: unset;
      right: 1.5rem;
    }
    @include min(1201px) {
      &:hover .line {
        width: 3.2rem;
      }
    }
    &.open {
      .line {
        width: 3.2rem;
      }
      .line-1 {
        transform: translateY(0.9rem) rotate(45deg);
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY(-0.9rem) rotate(-45deg);
      }
    }
    .line {
      width: 3.2rem;
      height: 0.3rem;
      display: block;
      border-radius: 0.5rem;
      margin-top: 0.6rem;
      background: #424d54;
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
      &-1 {
        width: 1.8rem;
        @include max(1200px) {
          width: 3.2rem;
        }
      }
      &-2 {
        width: 3.2rem;
      }
      &-3 {
        width: 2.7rem;
        @include max(1200px) {
          width: 3.2rem;
        }
      }
    }
  }
  &-mobile {
    &.open {
      .hd-nav {
        transform: translateX(0);
        transition-delay: 0.4s;
      }
    }
  }
  &-nav {
    top: 8rem;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: calc(100% - 8rem);
    position: fixed;
    overflow: hidden auto;
    flex-direction: column;
    transform: translateX(-110%);
    justify-content: flex-start;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    background: url("../assets/img/banner/banner-footer.webp");
    background-color: #f5f5f5;
    @include default-background;
    @include flex;
    @include max(1200px) {
      width: 38rem;
    }
    @include max(767px) {
      width: 28rem;
    }
    li {
      position: relative;
      @include min(1201px) {
        &:hover a {
          color: $color-third;
        }
      }
      a {
        color: #868c90;
        font-weight: 400;
        line-height: 4.7rem;
        @include max(1200px) {
          line-height: 4rem;
        }
        @include max(767px) {
          line-height: 3rem;
        }
      }
    }
    .menu {
      padding: 4rem 0;
      @include max(1200px) {
        padding: 2rem 0;
        padding-top: 1rem;
      }
      > li {
        min-width: 42rem;
        width: fit-content;
        padding: 2rem 7rem;
        transition: 0.4s ease-in-out;
        @include min(1201px) {
          &:hover {
            background: #ffffff9e;
            .ic-earth {
              opacity: 1;
              left: -3.5rem;
            }
            > a {
              transform: translateX(5rem);
            }
          }
        }
        @include max(1200px) {
          width: 100%;
          padding: 1rem 1.5rem;
          min-width: auto;
        }
        > a {
          font-size: 3.2rem;
          font-family: "Oswald";
          position: relative;
          transition: transform 0.4s ease-in-out;
          @include flex-al;
          @include max(1200px) {
            font-size: 2.4rem;
          }
          @include max(767px) {
            font-size: 2rem;
          }
          > .ic-earth {
            position: absolute;
            top: 0.8rem;
            left: -3.5rem;
            color: #fff;
            opacity: 0;
            transition: all 0.6s ease-in-out;
            &::before {
              font-size: 2.6rem;
            }
          }
          p {
            margin-right: 0.4rem;
            @include max(1200px) {
              font-size: 2.4rem;
            }
            @include max(767px) {
              font-size: 2rem;
            }
          }
          span {
            font-size: 3.2rem;
            @include max(1200px) {
              font-size: 2.4rem;
            }
            @include max(767px) {
              font-size: 2rem;
            }
          }
        }
      }
      &-dropdown {
        @include min(1201px) {
          &::before {
            content: "";
            top: 0;
            right: -10rem;
            width: 100%;
            height: 100%;
            position: absolute;
            background: transparent;
            cursor: pointer;
            transition: 0.4s ease-in-out;
          }
          &:hover {
            &::before {
              background: #ffffff9e;
              transition-delay: 0.4s;
            }
            .ic-next {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.4s;
              transform: translateX(3rem);
            }
            .menu-box {
              opacity: 1;
              overflow: hidden;
              visibility: visible;
              transition-delay: 0.8s;
              transform: translateX(0);
              .dropdown {
                height: auto;
                li {
                  height: auto;
                }
              }
            }
          }
        }
        .ic-next {
          top: 3.8rem;
          right: 3.2rem;
          width: 2.4rem;
          height: 1.5rem;
          object-fit: contain;
          position: absolute;
          opacity: 0;
          visibility: hidden;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          filter: invert(53%) sepia(8%) saturate(4%) hue-rotate(19deg)
            brightness(84%) contrast(85%);
          &::before {
            @include max(1200px) {
              content: "\e905";
              font-size: 1.4rem;
            }
          }
          @include max(1200px) {
            top: 1.8rem;
            right: 1rem;
            width: auto;
            height: auto;
            opacity: 1;
            padding: 1rem;
            visibility: visible;
            transform: rotate(90deg);
            &.open {
              transform: rotate(270deg);
              + .menu-box {
                opacity: 1;
                visibility: visible;
                max-height: 100rem;
                transition: max-height 0.6s ease-out, opacity 0.6s;
              }
            }
          }
          @include max(767px) {
            top: 0.9rem;
          }
        }
      }
    }
    .menu-box {
      top: 0;
      left: 42rem;
      z-index: 1;
      opacity: 0;
      width: 100%;
      padding: 1rem;
      min-width: 115rem;
      visibility: hidden;
      position: absolute;
      background: #ffffff9e;
      border-radius: 1rem;
      transform: translateX(-3rem);
      transition: max-height 0.6s ease-out, opacity 0.6s;
      @include max(1200px) {
        padding: 0;
        max-height: 0;
        min-width: auto;
        transform: none;
        position: static;
        overflow: hidden;
        transition: max-height 0.6s ease-out, opacity 0.6s;
      }
      .dropdown {
        li {
          padding: 1rem;
          @include min(1201px) {
            &:hover {
              > a {
                color: $color-third;
              }
            }
          }
          a {
            color: #757575;
            font-size: 1.8rem;
            transition: 0.4s ease-in-out;
            @include max(1200px) {
              font-size: 1.6rem;
            }
            @include max(767px) {
              font-size: 1.3rem;
            }
          }
        }
        &-item {
          width: fit-content;
          @include min(1201px) {
            &:hover {
              .ic-right {
                transform: rotate(90deg);
              }
              .dropdown-item-right {
                max-height: 20rem;
                opacity: 1;
                visibility: visible;
              }
            }
          }
          @include max(1200px) {
            width: auto;
          }
          .ic-right {
            top: 2.7rem;
            margin-left: 1.8rem;
            position: absolute;
            transition: 0.4s ease-in-out;
            @include max(1200px) {
              top: 1.8rem;
              right: 1rem;
              padding: 1rem;
              margin-left: 0;
              transform: rotate(90deg);
              &.open {
                transform: rotate(270deg);
                + .dropdown-item-right {
                  opacity: 1;
                  visibility: visible;
                  max-height: 25rem;
                }
              }
            }
            @include max(767px) {
              top: 0.9rem;
            }
            &::before {
              font-size: 1.2rem;
              @include max(1200px) {
                font-size: 1.4rem;
              }
            }
          }
          &-right {
            opacity: 0;
            max-height: 0;
            flex-wrap: wrap;
            visibility: hidden;
            transition: max-height 0.6s ease-in-out, opacity 0.6s;
            @include flex-al;
            @include max(1200px) {
              align-items: stretch;
              flex-direction: column;
              flex-wrap: nowrap;
            }
            li {
              padding: 1rem 5rem;
              padding-bottom: 0;
              @include min(1201px) {
                &:hover {
                  &::before {
                    filter: invert(9%) sepia(83%) saturate(7497%)
                      hue-rotate(346deg) brightness(92%) contrast(104%);
                  }
                }
              }
              @include max(1200px) {
                padding: 1rem 4rem;
                padding-right: 1rem;
              }
              &::before {
                content: "";
                top: 2.5rem;
                left: 2.2rem;
                width: 1.7rem;
                height: 1.7rem;
                position: absolute;
                transition: 0.4s ease-in-out;
                background: url("../assets/img/icon/bullet-point.svg");
                @include default-background;
                @include max(1200px) {
                  top: 2.6rem;
                  left: 1.2rem;
                }
                @include max(767px) {
                  top: 1.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
  &-list {
    margin: 0 -1.25rem;
    @include flex-al;
    > div {
      padding: 0 1.25rem;
    }
  }
  &-logo {
    a {
      display: block;
      width: 9.1rem;
      height: 5.6rem;
      img {
        object-fit: contain;
      }
    }
  }
  &-name {
    @include max(1200px) {
      display: none;
    }
    a {
      h1 {
        color: #0f0e9f;
        font-size: 2.4rem;
        text-transform: uppercase;
      }
    }
  }
  &-contact {
    margin: 0 -3rem;
    @include flex-al;
    @include max(767px) {
      margin: 0 -1rem;
    }
    > div {
      padding: 0 3rem;
      position: relative;
      @include max(767px) {
        padding: 0 1rem;
      }
    }
    .search-form {
      position: fixed;
      z-index: 9;
      top: 50%;
      left: 50%;
      transition: 0.5s ease;
      transform: translate(-50%, -60%);
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translate(-50%, -50%);
      }
      &-close {
        top: 2rem;
        right: 1.8rem;
        border: 0;
        width: auto;
        height: auto;
        border-radius: 0;
        .ic-close {
          &::before {
            font-size: 1.8rem;
          }
        }
      }
      &-wrap {
        width: 57rem;
        padding: 2rem;
        position: relative;
        border-radius: 0.8rem;
        background-color: #fafafa;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        @include max(767px) {
          width: 30rem;
          padding: 2rem;
        }
        input {
          width: 100%;
          padding: 1rem 1.5rem;
          border-radius: 0.5rem;
          margin-bottom: 2rem;
          background-color: #fff;
          border: 0.1rem solid rgba(0, 0, 0, 0.16);
          @include max(767px) {
            margin-bottom: 1rem;
          }
          &[type="submit"] {
            font-size: 1.4rem;
            width: 12rem;
            margin-bottom: 0;
            transition: 0.4s;
            background: $color-third;
            color: #fff;
            font-weight: 300;
            cursor: pointer;
            margin: 0 auto;
            display: block;
          }
          &:focus-visible {
            outline: 0;
          }
        }
        h3 {
          font-weight: 600;
          margin-bottom: 3.5rem;
          @include max(1200px) {
            margin-bottom: 2rem;
          }
        }
      }
    }
    .select {
      width: 100%;
      margin-bottom: 2rem;
      flex-wrap: wrap;
      row-gap: 1rem;
      @include flex-al;
      @include max(767px) {
        margin-bottom: 1rem;
      }
      &-text {
        color: #757575;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        @include max(767px) {
          font-size: 1.4rem;
        }
      }
      &-list {
        width: 100%;
      }
      &-wrap {
        width: calc(100% / 2);
        @include max(767px) {
          width: 100%;
        }
        &:nth-child(1) {
          padding-right: 1rem;
          @include max(767px) {
            padding-right: 0;
          }
        }
        &:nth-child(2) {
          padding-left: 1rem;
          @include max(767px) {
            padding-left: 0;
          }
        }
        .custom {
          &-options {
            max-height: 20rem;
          }
        }
      }
      &-title {
        min-width: auto;
        min-height: 2.1rem;
        font-size: 1.4rem;
      }
    }
  }
  .btn-contact {
    &::before {
      content: "";
      top: 1rem;
      right: 0;
      width: 0.1rem;
      height: 1.8rem;
      position: absolute;
      background: #bdbdbd;
    }
    a {
      @include max(767px) {
        padding: 0.891rem 0;
        border-color: transparent;
        border-radius: 0;
        box-shadow: none;
        span {
          display: none;
        }
      }
    }
  }
  &-language {
    &::before {
      content: "";
      top: 0.4rem;
      right: 0;
      width: 0.1rem;
      height: 1.8rem;
      position: absolute;
      background: #bdbdbd;
    }
    a {
      color: #888;
      font-size: 1.8rem;
    }
  }
  &-search {
    cursor: pointer;
    .search {
      @include min(1201px) {
        padding: 0.8rem;
        margin: -0.8rem;
        border-radius: 99.9rem;
        width: calc(100% + 1.6rem);
        transition: 0.2s ease-in-out;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .ic {
      display: block;
      &::before {
        font-size: 2.4rem;
        @include max(1200px) {
          font-size: 2rem;
        }
      }
    }
  }
}
