.marquee {
  height: 11rem;
  &-block {
    display: block;
    cursor: default;
    position: relative;
    background: $color-second;
  }
  &-list {
    display: block;
  }
  &-item {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    @include min(1201px) {
      &:hover {
        animation-play-state: paused;
      }
    }
    span {
      display: block;
      padding: 0.45rem;
      font-weight: 600;
      color: $color-white;
    }
  }
  .header-bar {
    top: 5.5rem;
  }
}
