.marquee {
  height: 11rem;
  &-block {
    display: block;
    cursor: default;
    position: relative;
    background: $blue-dark;
  }
  &-list {
    display: block;
    span {
      color: white;
      padding: 0.45rem;
      font-weight: 600;
      display: inline-block;
    }
  }
}
