.dnw {
  &-top {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 0.1rem dashed #c8c8c8;
  }
  &-title {
    margin-bottom: 2rem;
    h1 {
      margin-top: 0;
      color: #0b325d;
      font-size: 3.4rem;
      font-weight: 600;
      @include max(767px) {
        font-size: 2.4rem;
      }
    }
  }
  &-time {
    margin-bottom: 2.5rem;
    a {
      @include flex-al;
    }
    i {
      display: inline-block;
      &::before {
        font-size: 1.8rem;
      }
    }
    span {
      color: #777777;
      font-size: 1.6rem;
      padding-left: 1rem;
      @include max(1200px) {
        font-size: 1.6rem;
      }
      @include max(767px) {
        font-size: 1.4rem;
      }
    }
  }
  &-contact {
    // gap: 1rem;
    flex-wrap: wrap;
    @include flex-al;
    a {
      padding: 0.8rem 1.5rem;
      border-radius: 0.4rem;
      background: #2191eb;
      @include flex-al;
      @include max(1200px) {
        padding: 1rem;
      }
      i {
        &::before {
          color: #fff;
        }
      }
      span {
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
        @include max(1200px) {
          font-size: 1.4rem;
        }
        @include max(767px) {
          font-size: 1.3rem;
        }
        &.text {
          padding: 0 1rem;
        }
      }
    }
  }
  &-box {
    @include flex;
  }
  &-col {
    &:nth-child(1) {
      width: 15%;
    }
    &:nth-child(2) {
      width: 85%;
    }
  }
  &-sticky {
    top: 9rem;
    position: sticky;
    flex-direction: column;
    @include flex-al;
    a {
      width: 5.5rem;
      height: 5.5rem;
      display: block;
      border-radius: 50%;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &:nth-child(1) {
        background: $color-third;
      }
      &:nth-child(2) {
        background: $color-second;
      }
      i {
        height: 100%;
        @include flex-ct;
        &::before {
          font-size: 2.4rem;
        }
      }
    }
  }
  &-center {
    text-align: justify;
    * {
      font-size: 1.6rem !important;
      font-family: "Be Vietnam Pro" !important;
    }
    img {
      margin: 0 auto;
      width: revert-layer;
      height: auto !important;
    }
    table {
      margin: 0 auto;
      width: 100% !important;
    }
    a {
      color: #4765a0;
    }
    ul {
      padding-left: 1.6rem;
      list-style-type: disc !important;
    }
    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    .desc {
      margin-top: 0;
      font-size: 1.6rem;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.6rem !important;
      line-height: 2.4rem !important;
      margin: 2rem 0 !important;
      @include max(767px) {
        font-size: 1.4rem !important;
      }
    }
    .box-img {
      width: 56.666%;
      margin: 0 auto;
      margin-bottom: 2rem;
      @include max(1200px) {
        width: 100%;
      }
      .img {
        padding-top: 50%;
        position: relative;
        img {
          height: 100% !important;
          @include imgCover;
        }
      }
      .text {
        text-align: center;
        padding: 0.6rem;
        background: #f5f9ff;
        span {
          font-style: italic;
          font-weight: 400;
          font-size: 1.6rem;
          @include max(767px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &-content {
    text-align: justify;
    * {
      font-size: 1.6rem !important;
      font-family: "Be Vietnam Pro" !important;
    }
    img {
      height: auto !important;
    }
    table {
      margin: 0 auto;
      width: 100% !important;
    }
    a {
      color: #4765a0;
    }
    ul {
      padding-left: 1.6rem;
      list-style-type: disc !important;
    }
    li {
      display: list-item;
      text-align: -webkit-match-parent;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    .desc {
      margin-top: 0;
      font-size: 1.6rem;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.6rem !important;
      line-height: 2.4rem !important;
      margin: 2rem 0 !important;
      @include max(767px) {
        font-size: 1.4rem !important;
      }
    }
    .box-img {
      width: 56.666%;
      margin: 0 auto;
      margin-bottom: 2rem;
      @include max(1200px) {
        width: 100%;
      }
      .img {
        padding-top: 50%;
        position: relative;
        img {
          height: 100% !important;
          @include imgCover;
        }
      }
      .text {
        text-align: center;
        padding: 0.6rem;
        background: #f5f9ff;
        span {
          font-style: italic;
          font-weight: 400;
          font-size: 1.6rem;
          @include max(767px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &-position {
    &-content {
      padding: 3rem;
      background: #f5f9ff;
      @include max(1200px) {
        padding: 2rem;
      }
    }
    &-desc {
      h3 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.6rem;
        margin-bottom: 1rem;
        @include max(767px) {
          font-size: 1.4rem;
        }
      }
      p {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.6rem;
        margin-bottom: 2rem;
        @include max(767px) {
          font-size: 1.4rem;
        }
      }
    }
    &-step {
      .pos-step {
        position: relative;
        margin-bottom: 2.5rem;
        padding-bottom: 2.5rem;
        &:not(:last-child) {
          &::before {
            content: "";
            left: -3rem;
            bottom: 0;
            width: calc(100% + 6rem);
            position: absolute;
            border-bottom: 0.1rem dashed #9cd3ff;
            @include max(1200px) {
              left: -2rem;
              width: calc(100% + 4rem);
            }
          }
        }
        &-item {
          margin: 0 -3rem;
          @include flex;
          @include max(1200px) {
            margin: 0 -1rem;
          }
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
        &-col {
          padding: 0 3rem;
          @include max(1200px) {
            padding: 0 1rem;
          }
          @include max(767px) {
            width: 100%;
          }
        }
        &-info {
          ul {
            li {
              font-weight: 300;
              font-size: 1.6rem;
              line-height: 2.6rem;
              margin-bottom: 0.8rem;
              @include max(767px) {
                font-size: 1.4rem;
              }
              &.note {
                font-style: italic;
              }
            }
          }
        }
      }
      .step {
        line-height: 2.6rem;
        font-size: 1.6rem;
        color: #0b325d;
        font-weight: 700;
        text-transform: uppercase;
        @include max(767px) {
          font-size: 1.4rem;
        }
      }
    }
    &-btn {
      .btn-recruitment {
        margin: 0 auto;
        width: fit-content;
        a {
          color: #fff;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 3.4rem;
          padding: 0.8rem;
          min-width: 24rem;
          cursor: pointer;
          @include flex-ct;
          @include max(1200px) {
            font-size: 1.6rem;
          }
          @include max(767px) {
            min-width: 18rem;
          }
        }
      }
    }
  }
  &-video {
    position: relative;
    padding-top: 56.25%;
    iframe {
      @include imgCover;
    }
  }
  &-bottom {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 0.1rem dashed #c8c8c8;
    // .dnw-contact {
    //   justify-content: flex-end;
    // }
  }
  &-subtt {
    text-align: right;
    h3 {
      margin-top: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
      margin-bottom: 2rem;
      @include max(1200px) {
        font-size: 1.8rem;
      }
      @include max(767px) {
        font-size: 1.6rem;
      }
    }
  }
}

.if {
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.corporate {
  &-new {
    .event {
      padding-top: 6rem;
      @include max(1200px) {
        padding-top: 4rem;
      }
    }
  }
  .dnw {
    background: #f5f5f5;
  }
}
