.not {
  &-pos {
    background: #fff;
    position: relative;
    height: calc(100vh - 8rem);
    @include max(767px){
      height: auto;
      padding: 10rem 0;
    }
  }
  &-box {
    height: 100%;
    flex-direction: column;
    @include flex-ct;
  }
  &-wrap {
    text-align: center;
    .desc {
      font-size: 2.2rem;
      margin-bottom: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      @include max(767px) {
        font-size: 1.8rem;
      }
    }
  }
  &-404 {
    margin-bottom: 2rem;
    @include max(767px){
      margin-bottom: 0;
    }
    h1 {
      font-size: 22rem;
      line-height: 20rem;
      font-weight: 900;
      color: $color-third;
      letter-spacing: 1rem;
      text-transform: uppercase;
      @include max(767px) {
        font-size: 10rem;
        line-height: normal;
      }
    }
  }
  &-btn {
    gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    @include flex-ct;
    .btn {
      border-radius: 0.5rem;
      border: 0.1rem solid $color-third;
      &.btn-contact2 {
        background: #fff;
        @include min(1201px) {
          &:hover {
            a {
              color: #fff;
            }
          }
        }
        a {
          color: $color-third;
        }
      }
      a {
        font-weight: 600;
        font-size: 1.6rem;
        min-width: 16.5rem;
        padding: 1.2rem 2.4rem;
        @include max(767px) {
          font-size: 1.4rem;
          min-width: 12.5rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
