#scrollTop {
  bottom: 5%;
  right: 5%;
  z-index: 11;
  position: fixed;
}
.scroll {
  &-popup {
    a {
      display: block;
      padding: 0.5rem;
      background: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}
