.if {
  &-top {
    margin-bottom: 5rem;
    background: #f5f5f5;
    @include max(1200px) {
      margin-bottom: 3rem;
    }
  }
  &-card {
    @include max(1200px) {
      overflow: auto hidden;
    }
  }
  &-list {
    @include flex;
  }
  .swiper {
    &-slide {
      cursor: default;
      overflow: hidden;
    }
  }
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  &-item {
    flex: 1;
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        right: 0;
        width: 0.1rem;
        height: 100%;
        border-right: 0.08rem solid #d3d3d3;
        position: absolute;
      }
    }
    &.tab-active {
      a {
        color: #fff;
        background: $color-third;
        &::before {
          filter: brightness(0) invert(1);
        }
        &::after {
          content: "";
          left: 0;
          right: 0;
          bottom: -2.1rem;
          width: 0;
          height: 0;
          z-index: 1;
          display: block;
          margin: 0 auto;
          position: absolute;
          border: 0 solid transparent;
          border-left-width: 2.2rem;
          border-right-width: 2.2rem;
          border-top: 2.2rem solid $color-third;
        }
        span {
          color: #fff;
        }
      }
    }
    &:nth-child(1) {
      a {
        &::before {
          background: url("../assets/img/trangchu/if-icon1.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
    &:nth-child(2) {
      a {
        &::before {
          background: url("../assets/img/trangchu/if-icon2.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
    &:nth-child(3) {
      a {
        &::before {
          background: url("../assets/img/trangchu/if-icon3.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
    @include min(1201px) {
      &:hover {
        a {
          color: #fff;
          background: $color-third;
          &::before {
            filter: brightness(0) invert(1);
          }
          span {
            color: #fff;
          }
        }
      }
    }
    a {
      display: block;
      padding: 3rem;
      padding-top: 9rem;
      color: #424d54;
      font-family: "Oswald";
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      transition: 0.4s ease-in-out;
      white-space: nowrap;
      @include max(1200px) {
        padding: 1rem;
        padding-top: 8rem;
        font-size: 1.8rem;
      }
      @include max(767px) {
        font-size: 1.4rem;
        padding-top: 5.5rem;
      }
      @include max(500px) {
        text-transform: initial;
      }
      &::before {
        content: "";
        top: 2rem;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0 auto;
        width: 5rem;
        height: 5rem;
        position: absolute;
        transition: 0.4s ease-in-out;
        @include default-background;
        @include max(767px) {
          top: 1rem;
          width: 4rem;
          height: 4rem;
        }
      }
      span {
        pointer-events: none;
      }
    }
  }
  &-tab {
    &.tablist-1 {
      .swiper {
        &-control {
          left: 95%;
          > div {
            &:nth-child(1) {
              opacity: 0;
              pointer-events: unset;
            }
          }
        }
      }
      .if {
        &-img {
          margin-right: -4rem;
          margin-left: -25vw;
          padding-left: 25vw;
          @include max(1680px) {
            margin-left: -20vw;
            padding-left: 20vw;
          }
          @include max(1440px) {
            margin-left: -15vw;
            padding-left: 15vw;
          }
          @include max(1055px) {
            margin-right: 0;
            margin-left: 0;
            padding-left: 0;
            border-radius: 0;
          }
        }
        &-wrap {
          margin-left: -4rem;
          padding-left: 12rem;
          @include max(1200px) {
            padding-left: 10rem;
          }
          @include max(1055px) {
            margin: 0;
            padding: 2rem;
          }
          @include max(767px) {
            padding: 1.5rem;
          }
          &::before {
            left: 0;
            margin-right: -100vw;
            padding-right: 100vw;
            border-radius: 2.5rem 0 0 2.5rem;
            @include max(1055px) {
              display: none;
            }
          }
        }
      }
    }
    &.tablist-2 {
      .swiper {
        &-control {
          left: 5%;
          > div {
            transform: rotate(180deg);
            &:nth-child(2) {
              opacity: 0;
              pointer-events: unset;
            }
          }
        }
      }
      .if {
        &-box {
          flex-direction: row-reverse;
        }
        &-img {
          margin-right: -25vw;
          padding-right: 25vw;
          margin-left: -4rem;
          border-radius: 2.5rem 0 0 2.5rem;
          @include max(1680px) {
            margin-right: -15vw;
            padding-right: 15vw;
          }
          @include max(1440px) {
            margin-right: -10vw;
            padding-right: 10vw;
          }
          @include max(1055px) {
            margin: 0;
            padding-right: 0;
            border-radius: 0;
          }
        }
        &-info {
          padding-left: 0;
        }
        &-wrap {
          margin-right: -4rem;
          padding-right: 12rem;
          @include max(1200px) {
            padding-right: 10rem;
          }
          @include max(1055px) {
            margin: 0;
            padding: 2rem;
          }
          @include max(767px) {
            padding: 1.5rem;
          }
          &::before {
            right: 0;
            margin-left: -100vw;
            padding-left: 100vw;
            border-radius: 0 2.5rem 2.5rem 0;
            @include max(1055px) {
              display: none;
            }
          }
        }
      }
    }
    .swiper {
      &-thumbs {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: 120rem;
        padding: 0 1.5rem;
        .swiper {
          &-slide {
            text-align: center;
          }
        }
      }
      &-control {
        @include min(1201px) {
          &:hover {
            > div {
              color: $color-third;
            }
          }
        }
        > div {
          color: #999;
          transition: 0.4s ease-in-out;
          @include max(1055px) {
            color: #fff;
          }
          &::after {
            font-size: 2.6rem;
            @include max(1055px) {
              font-size: 3.4rem;
            }
          }
        }
      }
      &-slide {
        &-thumb {
          &-active {
            .if-tab-item {
              &::before,
              &::after {
                opacity: 1;
                visibility: visible;
              }
              &::before {
                right: 2rem;
                margin: 0 auto;
              }
              &::after {
                right: 0;
                margin: 0 auto;
              }
              p {
                color: $color-third;
              }
            }
          }
        }
      }
    }
    &-item {
      padding-bottom: 2rem;
      &::before,
      &::after {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease-in-out;
      }
      &::before {
        right: 2rem;
        margin: 0 auto;
      }
      &::after {
        right: 0;
        margin: 0 auto;
      }
      p {
        color: #757575;
        font-size: 2.4rem;
        font-family: "Oswald";
        transition: 0.4s ease-in-out;
        @include min(1201px) {
          &:hover {
            color: #df0024;
          }
        }
        @include max(1200px) {
          font-size: 1.8rem;
        }
        @include max(767px) {
          font-size: 1.6rem;
        }
      }
    }
    .vision {
      &-box {
        @include flex;
        &:not(:last-child) {
          margin-bottom: 3rem;
          @include max(767px) {
            margin-bottom: 0;
          }
        }
      }
      &-img {
        width: 4.8rem;
        height: 4.8rem;
      }
      &-content {
        padding-left: 3rem;
        width: calc(100% - 4.8rem);
        @include max(767px) {
          padding-left: 1.5rem;
        }
        p {
          color: #424d54;
          font-size: 1.6rem;
          @include max(767px) {
            font-size: 1.4rem;
          }
        }
      }
    }
    .core {
      &-title {
        margin-bottom: 3rem;
        max-height: 11rem;
        overflow: hidden auto;
        p {
          margin-bottom: 0;
        }
      }
      &-list {
        margin: 0 -2rem;
        margin-bottom: -4rem;
        flex-wrap: wrap;
        @include flex;
        @include max(1200px) {
          margin: 0 -0.5rem;
          margin-bottom: -1rem;
        }
      }
      &-box {
        padding: 0 2rem;
        padding-bottom: 4rem;
        width: calc(100% / 2);
        @include flex-al;
        @include max(1200px) {
          padding: 0 0.5rem;
          padding-bottom: 1rem;
        }
        @include max(500px) {
          width: 100%;
        }
      }
      &-item {
        width: 100%;
        padding: 2.5rem;
        overflow: hidden;
        background: #fff;
        border-radius: 0.8rem;
        flex-direction: column;
        @include flex-al;
        @include max(1200px) {
          padding: 2rem;
        }
      }
      &-img {
        width: 4.8rem;
        height: 4.8rem;
      }
      &-content {
        padding-top: 2rem;
        p {
          color: #2a2c2d;
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 0;
          @include max(1200px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  &-box {
    @include flex-al;
    @include max(1055px) {
      flex-wrap: wrap;
    }
    &-col {
      &:nth-child(1) {
        width: 30%;
        @include max(1366px) {
          width: 40%;
        }
        @include max(1055px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 70%;
        @include max(1366px) {
          width: 60%;
        }
        @include max(1055px) {
          width: 100%;
        }
      }
    }
  }
  &-img {
    z-index: 3;
    overflow: hidden;
    min-height: 50rem;
    position: relative;
    padding-top: calc((448 / 448) * 100%);
    border-radius: 0 2.5rem 2.5rem 0;
    @include max(1055px) {
      min-height: auto;
      padding-top: calc((648 / 1320) * 100%);
    }
    img {
      @include imgCover;
    }
  }
  &-wrap {
    z-index: 2;
    padding: 4rem;
    min-height: 56rem;
    position: relative;
    @include flex-ct;
    @include max(1055px) {
      min-height: auto;
      background: #f7f7f7;
      justify-content: stretch;
    }
    &::before {
      content: "";
      top: 0;
      width: 100vw;
      height: 100%;
      overflow: hidden;
      position: absolute;
      background: #f7f7f7;
    }
    .title {
      color: #262626;
      font-size: 3.2rem;
      font-weight: 500;
      width: fit-content;
      position: relative;
      margin-bottom: 2rem;
      @include max(1200px) {
        font-size: 2.8rem;
        margin-bottom: 0;
      }
      @include max(767px) {
        font-size: 2rem;
      }
      &::before {
        content: "";
        top: 2.6rem;
        right: -8rem;
        width: 5rem;
        height: 0.2rem;
        position: absolute;
        background: $color-third;
        @include max(1200px) {
          top: 2.1rem;
        }
        @include max(767px) {
          display: none;
        }
      }
    }
  }
  &-info {
    z-index: 2;
    height: 100%;
    position: relative;
    @include max(1200px) {
      height: auto;
    }
    p {
      font-size: 1.6rem;
      color: #424d54;
      font-weight: 300;
      line-height: 2.8rem;
      margin-bottom: 2rem;
      @include max(1200px) {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
      span {
        font-weight: 500;
      }
    }
    .box-contact {
      gap: 1rem;
      flex-wrap: wrap;
      @include flex-al;
      p {
        margin: 0;
        position: relative;
        &:nth-child(1) {
          &::after {
            content: "-";
            margin: 0 1rem;
            @include max(539px) {
              display: none;
            }
          }
        }
        &:nth-child(2) {
          a {
            color: #0f0e9f;
          }
        }
      }
    }
  }
}

.event {
  padding: 6rem 0;
  max-width: unset;
  background: #f7f7f7;
  @include max(1200px) {
    padding: 4rem 0;
  }
}

.ev {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  &-title {
    margin-bottom: 3rem;
    @include max(767px) {
      margin-bottom: 2rem;
    }
    h3 {
      width: fit-content;
      color: $color-third;
      font-size: 2.4rem;
      position: relative;
      font-family: "Oswald";
      text-transform: uppercase;
      @include max(1200px) {
        font-size: 1.8rem;
      }
      &::before {
        content: "";
        top: 1.8rem;
        right: -8rem;
        width: 5rem;
        height: 0.2rem;
        position: absolute;
        background: #df0024;
        @include max(1200px) {
          top: 1.2rem;
          right: -7rem;
        }
        @include max(767px) {
          display: none;
        }
      }
    }
  }
  &-box {
    margin: 0 -2rem;
    margin-bottom: -4rem;
    flex-wrap: wrap;
    @include flex;
    @include max(1200px) {
      margin: 0 -0.5rem;
      margin-bottom: -1rem;
    }
  }
  &-list {
    padding: 0 2rem;
    padding-bottom: 4rem;
    width: calc(100% / 2);
    @include max(1200px) {
      padding: 0 0.5rem;
      padding-bottom: 1rem;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  &-inner {
    @include flex;
    &:nth-child(1) {
      overflow: hidden;
      margin: 0 -1.25rem;
      @include max(1200px) {
        margin: 0 -1rem;
      }
      @include max(400px) {
        row-gap: 1rem;
        flex-direction: column;
      }
    }
    &:nth-child(2) {
      padding-top: 2rem;
      margin-top: 2rem;
      align-items: center;
      justify-content: space-between;
      border-top: 0.1rem solid #e7e7e7;
      @include max(767px) {
        padding-top: 1rem;
        margin-top: 1rem;
      }
    }
    &-col {
      padding: 0 1.25rem;
      @include max(1200px) {
        padding: 0 1rem;
      }
      &:nth-child(1) {
        width: 30%;
        @include max(400px) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 70%;
        @include max(400px) {
          width: 100%;
        }
      }
    }
  }
  &-item {
    height: 100%;
    padding: 3rem;
    overflow: hidden;
    background: #fff;
    border: 0.1rem solid #e7e7e7;
    @include min(1201px) {
      &:hover {
        img {
          transform: translate(-50%, -50%) scale(1.1);
        }
        .ev {
          &-content {
            h3 {
              color: $color-third;
            }
          }
        }
      }
    }
    @include max(1200px) {
      padding: 2rem;
    }
  }
  &-img {
    overflow: hidden;
    padding-top: calc((212 / 270) * 100%);
    position: relative;
    img {
      transition: 0.4s ease-in-out;
      @include imgCover;
    }
  }
  &-content {
    flex-direction: column;
    @include flex;
    h3 {
      min-height: 5rem;
      color: #262626;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      transition: 0.4s ease-in-out;
      @include lc(2);
      @include max(1200px) {
        font-size: 1.6rem;
      }
    }
    p {
      min-height: 5rem;
      font-size: 1.6rem;
      font-weight: 300;
      color: #424d54;
      margin-bottom: 1.5rem;
      @include lc(3);
      @include max(1200px) {
        font-size: 1.4rem;
      }
    }
  }
  &-time {
    a {
      position: relative;
      color: #858585;
      @include max(767px) {
        font-size: 1.2rem;
      }
      &.hashtag {
        padding-right: 1.5rem;
        &::before {
          content: "";
          top: 0.7rem;
          right: 0.2rem;
          display: block;
          background: #858585;
          position: absolute;
          @include cir(0.5rem);
        }
      }
    }
  }
  &-tag {
    margin-top: 1rem;
    flex-wrap: wrap;
    @include flex;
    a {
      position: relative;
      &:not(:first-child) {
        color: #8f8f8f;
        &::after {
          content: ",";
          margin-right: 0.5rem;
        }
      }
    }
  }
}
